/* ---------- BEGIN GLOBAL STYLES ---------- */

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

img {
    -ms-interpolation-mode: bicubic;
    image-rendering: -webkit-optimize-contrast;
    max-width: 100%;
    max-height: 100%;
}

body {
    font-family: 'Lato', sans;
    font-size: 1em;
    line-height: 1em;
    overflow: hidden;
}

body * {
    font-size: 1em;
    text-rendering: optimizelegibility;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
}

p {
    margin: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.outer-center {
    float: right;
    right: 50%;
    position: relative;
}

.inner-center {
    float: right;
    right: -50%;
    position: relative;
}

#page {
    width: 100%;
    font-family: Verdana;
    font-size: 10;
    color: #000;
    margin: 0;
    background-color: #e0e0ff;
    vertical-align: top;
}

h1 {
    color: #780000;
    margin: 0 ! important;
    padding: 2% 1% ! important;
    font-size: 1.4em ! important;
    font-weight: normal;
}

h1 span span {
    color: #656565;
    font-size: .6em;
}

h2 {
    color: #780000;
    margin: 1em 0 0 ! important;
    padding: 0 0 .6em ! important;
    font-size: 1.3em ! important;
    font-weight: normal;
    border-bottom: 1px dashed #b2b2b2;
}

label.error {
    color: #780000;
    text-shadow: 1px 1px 0 #fff;
    -moz-text-shadow: 1px 1px 0 #fff;
    -webkit-text-shadow: 1px 1px 0 #fff;
    margin: .5em 0 0;
    font-size: .9em;
}

#incwiz-control label.error {
    margin: .5em !important;
}

td label.error {
    display: block;
    border: 1px solid #ecb7b7;
    padding: .2em .5em;
    background: #ffdfdf;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

hr.top, hr.bottom {
    height: 1%;
    margin: 0;
    border: 0;
    background: #333b46;
    background: -moz-linear-gradient(top, #333b46 0%, #3b444f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333b46), color-stop(100%, #3b444f));
    background: -webkit-linear-gradient(top, #333b46 0%, #3b444f 100%);
    background: -o-linear-gradient(top, #333b46 0%, #3b444f 100%);
    background: -ms-linear-gradient(top, #333b46 0%, #3b444f 100%);
    background: linear-gradient(to bottom, #333b46 0%, #3b444f 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333b46', endColorstr='#3b444f', GradientType=0);
    border-top: 1px solid #232a31;
}

/* ---------- END GLOBAL STYLES ---------- */

/* ---------- BEGIN HEADER STYLES ---------- */
#header {
    background: #8f0b13;
    background: -moz-linear-gradient(top, #8f0b13 0%, #740209 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8f0b13), color-stop(100%, #740209));
    background: -webkit-linear-gradient(top, #8f0b13 0%, #740209 100%);
    background: -o-linear-gradient(top, #8f0b13 0%, #740209 100%);
    background: -ms-linear-gradient(top, #8f0b13 0%, #740209 100%);
    background: linear-gradient(to bottom, #8f0b13 0%, #740209 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f0b13', endColorstr='#740209', GradientType=0);
    border-bottom: 1px solid #520106;
    vertical-align: middle;
    overflow: hidden;
    height: 10%;
}

#header img {
    vertical-align: middle;
}

#header-left {
    padding: 0 1%;
    width: 80%;
    height: 100%;
    display: table;
}

#header-left h1 {
    color: #fff !important;
    display: table-cell;
    vertical-align: middle;
}

#header-left img {
    border: 2px solid #fff;
    box-shadow: 0 0 3px #ccc;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    margin: 0 .5em 0 0;
}

#header-right {
    width: 20%;
    padding: 1%;
    text-align: center;
    height: 100%;
}

#header-right a {
    display: block;
}

#header-right img {
    max-width: 100%;
    max-height: 100%;
}

/* ---------- END HEADER STYLES ---------- */

/* ---------- BEGIN MENU STYLES ---------- */
#menu {
    margin: 0;
    padding: 0;
    border-top: 1px solid #dadada;
    background: url('#{request.contextPath}/resources/images/menu-bg.jpg') 0 bottom repeat-x;
}

#menu li {
    float: left;
    width: 12.5%;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    -moz-text-shadow: 1px 1px 0 #fff;
    -webkit-text-shadow: 1px 1px 0 #fff;
    font-size: 0.8em;
    font-weight: bold;
}

#menu li a {
    display: block;
    text-decoration: none;
    color: #434343;
}

/* ---------- END MENU STYLES ---------- */

/* ---------- BEGIN SPECIAL OFFER STYLES ---------- */
#special-offer-bar {
    color: #715200;
    font-size: .8em;
    padding: 0 1%;
    background: #fff9ce;
    border-bottom: 1px solid #f0e0ba;
    text-align: left;
}

/* ---------- END SPECIAL OFFER STYLES ---------- */

/* ---------- BEGIN CONTENT STYLES ---------- */
#content, #content-full {
    font-size: .9em;
    overflow: hidden;
    width: 100%;
}

#content-nomenu {
    box-shadow: inset 0px 0px 25px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, .2);
}

#dash-header {
    background: url('#{request.contextPath}/resources/images/fabric_of_squares_gray.png') 0 0 repeat;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    height: 7%;
    clear: both;
    display: table;
    width: 100%;
}

#incwiz-header {
    background: url('#{request.contextPath}/resources/images/fabric_of_squares_gray.png') 0 0 repeat;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    height: 7%;
    clear: both;
    display: table;
    width: 100%;
}

#incwiz-quotes {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

#progress-incwiz {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

#benefits {
    margin: 0;
}

#funny-quotes {
    color: #715200;
    font-size: .8em;
    border-top: 0;
    position: relative;
    text-shadow: 1px 1px 0 #fff;
    -moz-text-shadow: 1px 1px 0 #fff;
    -webkit-text-shadow: 1px 1px 0 #fff;
    background: #fff9ce;
    border: 1px solid #f0e0ba;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    padding: .5em;
    float: left;
    display: none;
}

a.close-funny-quotes {
    margin: 0 0 0 .5em;
}

a.close-funny-quotes:hover {
    cursor: pointer;
}

#incwiz-options-form {
    height: 7%;
    overflow: hidden;
    background: #eee;
    border-top: 1px solid #ccc;
}

#incwiz-options {
    padding: .5%;
    line-height: 2em;
}

#incwiz-options p {
    font-size: .8em;
    line-height: 1.25em;
}

#incwiz-options>div {
    height: 100%;
}

#incwiz-options input {
    margin: 0 .5em;
}

.login-button:hover {
    cursor: pointer;
}

.login-button {
    height: 2em;
    width: 2.5em;
    line-height: 2em;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    display: inline-block;
}

.login-icon {
    width: 2.5em;
    height: 2em;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    float: left;
}

.login-icon img {
    padding: .3em;
}

.login-text {
    width: 11em;
    text-align: right;
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
    font-size: .75em;
    padding: 0 .3em;
    position: absolute;
    top: 0;
    left: 3.3em;
    float: left;
}

.fb-login {
    height: 2em;
    line-height: 2em;
    background: #2980b9;
    border-bottom: 2px solid #1b66a5;
}

.fb-login .login-icon {
    border-right: 1px solid #1b66a5;
}

.fb-login .login-text {
    border-left: 1px solid #4598c7;
}

.gplus-login {
    background: #e74c3c;
    border-bottom: 2px solid #d52a1f;
}

.gplus-login .login-icon {
    border-right: 1px solid #ec6859;
}

.gplus-login .login-text {
    border-left: 1px solid #e03c2e;
}

.linkedin-login {
    background: #3498db;
    border-bottom: 2px solid #2886d2;
}

.linkedin-login .login-icon {
    border-right: 1px solid #2b8ad4;
}

.linkedin-login .login-text {
    border-left: 1px solid #50ace3;
}

#incwiz-control {
    margin: .5em .1em;
}

.mainbar {
    width: 75%;
}

.sidebar {
    width: 25%;
}

.question-row {
    border-bottom: 1px dashed #b2b2b2;
    line-height: 1.3em;
    width: 100%;
}

.question-row .question {
    color: #153247;
    font-size: 1.1em;
    padding: .5em .5em .5em .1em;
}

.question .adder {
    font-size: .7em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
    border: 1px solid #b0e0a9;
    padding: .1em .5em .1em 30px;
    text-shadow: 1px 1px 0 #fff;
    -moz-text-shadow: 1px 1px 0 #fff;
    -webkit-text-shadow: 1px 1px 0 #fff;
    background: #cfefca url('#{request.contextPath}/resources/images/icon-checkmark.png') .5em center no-repeat;
}

.question-row .question-message {
    padding: 1em;
    background: #fff5d4 url('#{request.contextPath}/resources/images/info.png') right center no-repeat;
    padding: .3em 80px .3em .8em;
}

.question-row .question-message p {
    margin: .5em 0;
}

.question-row .answer {
    text-align: right;
    padding: .7em;
    /*background: #f4f4f4 url('#{request.contextPath}/resources/images/white-triangle.png') 0 center no-repeat;*/
}

.question-row .answer-2 {
    width: 30%;
    padding: .7em 0;
}

.question-row .answer p, .question-row .answer-2 p {
    margin-bottom: .4em;
}

.question-table {
    width: 100%;
}

.col-3 {
    width: 29%;
    margin: 0 1% 0 0;
}

.col-4 {
    width: 40%;
}

.widget-panel {
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
    margin: 0 0 1%;
}

.widget-panel-title {
    padding: 2%;
    margin: 0;
    background: #eee;
    border-bottom: 1px soldi #ccc;
}

.widget-panel-body {
    padding: 2%;
    font-size: .9em;
}

.widget-panel-body p {
    margin: 2% 0;
}

.widget-panel ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-top: 1px dotted #ccc;
    margin: 5px 0;
}

.widget-panel li {
    border-bottom: 1px dotted #ccc;
    margin: 5px 0 0;
    padding: 0 0 5px;
}

.project-message {
    margin: 1%;
    position: relative;
}

.message-author {
    width: 6%;
    float: left;
    padding: .5%;
    text-align: center;
    border: 1px solid #ccc;
    border-right: none;
    height: 100%;
}

.message-body {
    left: 6%;
    width: 65%;
    padding: .5%;
    float: left;
    border: 1px solid #ccc;
}

.message-text {
    border: 1px solid #ccc;
    padding: 1%;
}

.message-body h3 {
    margin: 0 0 1%;
    line-height: 1.8em;
}

.message-status {
    float: left;
    width: 3%;
    text-align: center;
    padding: .5%;
    border: 1px solid #ccc;
    border-left: none;
    position: absolute;
    left: 71%;
    height: 100%;
}

.message-attachments {
    float: right;
    width: 25%;
    border: 1px solid #ccc;
    position: absolute;
    height: 100%;
    right: 0;
    padding: .5%;
}

.form p {
    margin: 1% 0;
}

/* ---------- END CONTENT STYLES ---------- */

/* ---------- BEGIN FOOTER STYLES ---------- */
#footer {
    background: #8a0911;
    background: -moz-linear-gradient(top, #8a0911 0%, #740209 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8a0911), color-stop(100%, #740209));
    background: -webkit-linear-gradient(top, #8a0911 0%, #740209 100%);
    background: -o-linear-gradient(top, #8a0911 0%, #740209 100%);
    background: -ms-linear-gradient(top, #8a0911 0%, #740209 100%);
    background: linear-gradient(to bottom, #8a0911 0%, #740209 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a0911', endColorstr='#740209', GradientType=0);
    border-top: 1px solid #520106;
    vertical-align: bottom;
    overflow: hidden;
    padding: .5%;
    height: 8%;
}

#footer-right a {
    color: #6b0000 !important;
}

/* ---------- END FOOTER STYLES ---------- */

#message {
    width: 100%;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
}

*.rf-dt {
    border: 0 none;
    empty-cells: hide;
}

*.rf-dt-c {
    border: 0 none;
    padding: 2px;
    empty-cells: hide;
}

*.rf-pb-lbl {
    text-align: center;
    font-family: Verdana;
    font-size: 10px;
}

*.rf-pb-prgs {
    background-color: #f00;
    border-color: #000;
}

*.rf-pb {
    border-color: #000;
}

.center {
    float: center;
    vertical-align: middle;
}

.left {
    float: left;
    vertical-align: middle;
}

.right {
    float: right;
    vertical-align: middle;
}

.head {
    width: 100%;
    border: 1px solid #00f;
    background-color: #c0c0ff;
    color: #1010ff;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 4px;
    margin-right: 4px;
}

.panel {
    width: 100%;
    font-family: Verdana;
    font-size: 10;
    border: 1px solid #00f;
    text-align: left;
    vertical-align: top;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 0px;
}

.panelItem {
    font-family: Verdana;
    font-size: 10;
    border: 1px solid #00f;
    text-align: left;
    vertical-align: top;
    margin: 0px;
    padding: 4px;
}

fixedText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 54px; /* 3x line height */
}

.topline {
    width: 100%;
    border-top: 1px solid #00f;
    padding: 0px;
}

/* ---------- BEGIN PROGRESS-BAR STYLES ---------- */
.progress-bar {
    padding: 2px 2px 1px;
    background: #e1e1e1;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #c0c0c0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}

.progress-bar div {
    background: #429a2a;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    background: url('#{request.contextPath}/resources/images/progress-bar.gif') 0 0 repeat;
}

#dashboard-progress-bar {
    width: 85%;
    height: 1.5em;
}

#incwiz-progress-bar {
    height: 1.2em;
}

.ssn {
}

.dln {
}

/* ---------- END PROGRESS-BAR STYLES ---------- */

/* ---------- BEGIN MODAL STYLES ---------- */
#modalWindow {
    display: none;
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 2%;
}

#modalWindow p {
    margin: 0 0 .5em;
    line-height: 1.3em;
}

#modalBackground {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr='#99000000', endColorstr='#99000000');
}

#modalWindow>div {
    height: 14em;
    overflow: auto;
    -moz-box-shadow: inset 0px 2px 1px -2px rgba(59, 60, 62, .6);
    -webkit-box-shadow: inset 0px 2px 1px -2px rgba(59, 60, 62, .6);
    box-shadow: inset 0px 2px 1px -2px rgba(59, 60, 62, .6);
    font-size: .9em;
    padding: 6px 8px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #b6b7b9;
    border-top: 1px solid #8b8c8d;
    background: #eee;
}

#legalStuff {
    display: none;
}

/* ---------- END MODAL STYLES ---------- */