@media screen and (-webkit-min-device-pixel-ratio:0) {

	select {
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,245,1)), color-stop(95%,rgba(223,225,227,1)), color-stop(100%,rgba(205,208,213,1))), url('../img/scroll_bottom.png') right center no-repeat; /* Chrome,Safari4+ */
	    background-image: url('#{request.contextPath}/resources/images/select_box_arrow.png'), -webkit-linear-gradient(top,  rgba(244,244,245,1) 0%,rgba(223,225,227,1) 95%,rgba(205,208,213,1) 100%); /* Chrome10+,Safari5.1+ */
	    background-position: right center;
	    background-repeat: no-repeat;
	    padding-right: 20px;
	}

	select:focus {
	    border: 1px solid #2796dd;
	    -moz-box-shadow: inset 0px 2px 1px -2px rgba(59,60,62,.6), 0 0 2px rgba(39,150,221,.5);	
	    -webkit-box-shadow: inset 0px 2px 1px -2px rgba(59,60,62,.6), 0 0 2px rgba(39,150,221,.5);
	    box-shadow: inset 0px 2px 1px -2px rgba(59,60,62,.6), 0 0 2px rgba(39,150,221,.5);
	    padding: 5px 18px 5px 3px;
	}

}