<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
        >
<h:body>
    <ul id="menu" class="cf">
        <li>
            <a href="#{request.contextPath}">Dashboard</a>
        </li>
        <li>
            <a href="#{request.contextPath}/none.xhtml">Contact</a>
        </li>
    </ul>
</h:body>
</html>