<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
        >

<h:body>
    <ui:composition template="/templates/dashboard.xhtml">

        <ui:define name="menu">
            <ui:include src="/main/admin/menu.xhtml"/>
        </ui:define>
        <ui:define name="special">
        </ui:define>

        <div id="content">
            <ui:define name="content">
            </ui:define>
        </div>

    </ui:composition>
</h:body>
</html>