<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<h:body>

	<ui:composition template="/templates/dashboard.xhtml">

		<ui:define name="menu">	
			<ui:include src="/main/client/menu.xhtml" />
		</ui:define>
		<ui:define name="special">
			<ui:include src="/main/client/special.xhtml" />
		</ui:define>
	
		<div id="content">
			<ui:define name="content">
				<div class="col-3  float-left">
					<div class="widget-panel">
						<h2 class="widget-panel-title">Incorporation Status</h2>
						<div class="widget-panel-body">
							<ui:include src="/main/client/is.xhtml" />
						</div>
					</div>
					<div class="widget-panel">
						<h2 class="widget-panel-title">Business Planner</h2>
						<div class="widget-panel-body">
							<ui:include src="/main/client/bp.xhtml" />
						</div>
					</div>
				</div>
				<div class="col-3 float-left">
					<div class="widget-panel">
						<h2 class="widget-panel-title">My Web</h2>
						<div class="widget-panel-body">
							<ui:include src="/main/client/mw1.xhtml" />
						</div>
					</div>
					<div class="widget-panel">
						<h2 class="widget-panel-title">My People</h2>
						<div class="widget-panel-body">
							<ui:include src="/main/client/mp.xhtml" />
						</div>
					</div>
					<div class="widget-panel">
						<h2 class="widget-panel-title">My Files</h2>
						<div class="widget-panel-body">
							<ui:include src="/main/client/mf.xhtml" />
						</div>
					</div>
				</div>
				<div class="col-4 float-left">
					<div class="widget-panel">
						<h2 class="widget-panel-title">My Money</h2>
						<div class="widget-panel-body">
							<h:commandButton value="bar graph view"
								style="max-width:80px; float:right;"
								action="/dashboard/none.xhtml">
							</h:commandButton>
							<h:commandButton value="tree view"
								style="max-width:80px; float:right;"
								action="/dashboard/none.xhtml">
							</h:commandButton>
							<ui:include src="/main/client/mw2.xhtml" />
						</div>
					</div>
				</div>

			</ui:define>
		</div>

	</ui:composition>
</h:body>
</html>