<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:body>
	<ui:composition template="/templates/dashboard.xhtml">

		<ui:define name="menu">
			<ui:include src="/main/employee/menu.xhtml" />
		</ui:define>

		<ui:define name="content">

			<div class="float-left mainbar tse-scrollable">
			    <div class="tse-content">
					<ui:repeat value="#{eosView.projectMessage}" var="projectMessage">
						<div class="project-message cf">
							<div class="message-author">
								<h:graphicImage value="/resources/images/#{dashView.uid}.jpg" height="40" width="40"/>
								<h:outputText value="#{projectMessage.initials}" />
							</div>
							<div class="message-body">
								<h3>
									<h:outputText value="#{projectMessage.name}" />
									<span style="float:right;">
										<h:outputText value="#{projectMessage.date}" />
										<h:commandLink value="#{projectMessage.messageCount} update(s)" action="#{eosView.submitproject()}" includeViewParams="true" class="button-gray">
											<f:param name="id" value="#{projectMessage.ID}"></f:param>
											<f:param name="type" value="#{projectMessage.type}"></f:param>
											<f:param name="clientID" value="#{projectMessage.clientID}"></f:param>
										</h:commandLink>
									</span>
								</h3>
								<div class="message-text">
									<h:outputText value="#{projectMessage.message}" />
								</div>								
							</div>
							<div class="message-status">
								<p><h:selectBooleanCheckbox value="true" /></p>
								<p><h:outputText value="!" style="font-weight:bold;" /></p>
							</div>
							<div class="message-attachments">
								<p>
									<h:outputLink value="main/none.xhtml">Documentation.doc</h:outputLink>
								</p>
								<p>
									<h:outputLink value="main/none.xhtml">stuff to do.xls</h:outputLink>
								</p>
								<h:outputLink value="main/none.xhtml">Download all</h:outputLink>
							</div>
						</div>	
					</ui:repeat>
				</div>
			</div>

			<div class="float-right sidebar tse-scrollable">
				<div class="tse-content">
					<div class="widget-panel">
						<h2 class="widget-panel-title">Overall status:</h2>
						<div class="widget-panel-body">
							<ul>
								<ui:repeat value="#{eosView.projects}" var="project">
									<li>
										<h:commandLink value="#{project.name}" action="#{eosView.submitproject()}" includeViewParams="true">
											<f:param name="id" value="#{project.ID}"></f:param>
											<f:param name="type" value="#{project.type}"></f:param>
											<f:param name="clientID" value="#{project.parentID}"></f:param>
										</h:commandLink>
										<h:outputLabel value="#{project.value} %" style="float:right" />
									</li>
								</ui:repeat>
							</ul>

							<p style="text-align: center;">
								<h:button value="View all my projects" outcome="employee/myProjects.xhtml?faces-redirect=true" class="button-gray"/>
							</p>
						</div>
					</div>
					<div class="widget-panel">
						<h2 class="widget-panel-title">To do list:</h2>
						<div class="widget-panel-body">
							<ul>
								<ui:repeat value="#{eosView.todos}" var="todos">
									<li>
										<h:outputLabel value="#{todos.name}" />
									</li>
								</ui:repeat>
							</ul>
							<p style="text-align: center;">
								<h:button value="View all ToDo's" outcome="employee/myToDos.xhtml?faces-redirect=true" class="button-gray" />
							</p>
						</div>
					</div>
				</div>
			</div>

		</ui:define>

	</ui:composition>
</h:body>
</html>