<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">
<h:body>
	<ui:composition>
		<div id="header" class="cf">
			<div id="header-left" class="float-left">
                <h1>
                    <h:outputText value="#{incView.page.name}" />
                </h1>
			</div>
			<div id="header-right" class="float-right">
				<h:outputLink value="#{request.contextPath}/main/#{dashView.userRole}.xhtml">
					<h:graphicImage value="/resources/images/logo.png" />
				</h:outputLink>
			</div>
		</div>
		<hr class="top" />
	</ui:composition>
</h:body>
</html>