<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
        >
<h:body>
    <ui:composition>
        <div id="header" class="cf">
            <div id="header-left" class="float-left">
                <h:panelGroup rendered="#{dashView.loggedOn == true}">
                    <h:graphicImage value="/resources/images/user.jpg" style="width: 5%;"/>
                    <h:outputText value="&#160;Hi #{dashView.user.fname}!"/>
                    <h:outputText value="&#160;(#{dashView.userRole})&#160;"/>
                    <h:outputLink value="/dashboard/main/profile.xhtml">profile</h:outputLink>
                    <h:outputLink value="#">log out
                        <f:ajax execute="@this" event="click" listener="#{dashView.cleanUser}"/>
                    </h:outputLink>
                </h:panelGroup>
                <h:panelGroup rendered="#{dashView.loggedOn == false}">
                    <h:outputText value="&#160;Hi #{dashView.user.fname}!"/>
                    <h:outputText value="&#160;(#{dashView.userRole})&#160;"/>
                    <h:outputLink value="#{request.contextPath}/login.xhtml">log in</h:outputLink>
                </h:panelGroup>
            </div>
            <div id="header-right" class="float-right">
                <h:outputLink value="#{request.contextPath}/main/#{dashView.userRole}.xhtml">
                    <h:graphicImage value="/resources/images/logo.png"/>
                </h:outputLink>
            </div>
        </div>
        <hr class="top"/>
    </ui:composition>
</h:body>
</html>