<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:body>
	<ui:composition template="/templates/dashboard.xhtml">

		<ui:define name="content">
			<ui:include src="leader/menu.xhtml" />
			<h:panelGrid columns="2">

					<h:column style="width:100%;">
						<ui:include src="leader/project.xhtml" />
						<ui:include src="leader/message1.xhtml" />

						<ui:include src="leader/project.xhtml" />
						<ui:include src="leader/message1.xhtml" />

						<ui:include src="leader/message1.xhtml" />
					</h:column>

					<h:column style="width:100px;">
						<ui:include src="leader/projectStatus.xhtml" />
					</h:column>

			</h:panelGrid>
		</ui:define>

	</ui:composition>
</h:body>
</html>