<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/templates/dashboard.xhtml">

	<ui:define name="menu">
		<ui:include src="/main/#{dashView.userRole}/menu.xhtml" />
	</ui:define>
	
	<ui:define name="content">
		<h:panelGroup layout="block" styleClass="panel">
			<br />
			<br />
			<h:panelGrid columns="2" columnClasses="center,center">
				<h:column>
					<h:outputText value="Name: " />
				</h:column>
				<h:column>
					<h:outputText value="#{dashView.user.name}" />
				</h:column>
				<h:column>
					<h:outputText value="Full name: " />
				</h:column>
				<h:column>
					<h:outputText value="#{dashView.user.fullName}" />
				</h:column>
				<h:column>
					<h:outputText value="Role: " />
				</h:column>
				<h:column>
					<h:outputText value="#{dashView.userRole}" />
				</h:column>
				<h:column>
					<h:outputText value="Mail: " />
				</h:column>
				<h:column>
					<h:outputText value="#{dashView.user.mail}" />
				</h:column>
			</h:panelGrid>
		</h:panelGroup>
	</ui:define>

</ui:composition>
</html>