<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">
	
	<h:outputScript library="js" name="progress-bar.js" />

	<h:body>		
		<div id="dashboard-progress-bar" class="progress-bar" data-percentage="#{eosView.progressbyProject}">
			<div></div>
		</div>
	</h:body>

</html>