<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">
	
	<h:body>
		<script type="text/javascript">
			jQuery(document).ready(function(){

				$ = jQuery;

				var quotes = $('#funny-quotes');
				var closeQuotes = $('.close-funny-quotes');
				
				closeQuotes.on('click', function() {
                    quotes.stop().animate({'left':-quotes.outerWidth()});
				});

				setTimeout(quotes.show().css({'left':-quotes.outerWidth()}).stop().animate({'left':0}),3000);
				
			});
		</script>
		<span id="funny-quotes">
            <h:outputFormat value="#{incView.quote}"/>
            <a href="" class="close-funny-quotes">
                <h:graphicImage value="/resources/images/close-yellow.png"/>
            </a>
		</span>
	</h:body>
</html>