<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:body>
	<h:panelGrid columns="2">

		<rich:column style="width:80%;">
			<h:panelGrid columns="2" columnClasses="panelItem,panelItem">
				<rich:column>
					<h:graphicImage value="/resources/images/#{dashView.uid}.jpg"
						width="40px" height="40px" />
					<br />
					<h:outputText value="#{dashView.guestInitials}" />
				</rich:column>
				<rich:column>
					<h:inputTextarea value="#{dashView.msg}" rows="3" readonly="true"
						style="width:400px;" />
					<br />
					<h:panelGroup>
						<h:selectBooleanCheckbox value="true" />
						<h:outputLabel value="Mark as important" />
						<h:button value="Send message" style="float:right;" />
					</h:panelGroup>
				</rich:column>
			</h:panelGrid>
		</rich:column>

		<rich:column style="width:20%;">
			<h:panelGrid columns="1" columnClasses="panelItem">
				<rich:column>
					<h:outputLabel value="&#160;" />
				</rich:column>
				<rich:column>
					<h:outputText value="Drag &amp; drop files here" />
				</rich:column>
				<rich:column>
					<h:outputLabel value="&#160;" />
				</rich:column>
				<rich:column>
					<h:button value="Add link from my files" style="width:100%;" />
				</rich:column>
			</h:panelGrid>
		</rich:column>

	</h:panelGrid>
</h:body>
</html>
