<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:body>
	<h:panelGroup styleClass="head">
		<h:outputLabel value="Updated documents:" />
	</h:panelGroup>
	<h:panelGrid columns="1" styleClass="panel">
		<rich:column>
			<h:outputLink value="/main/none.xhtml">My doc name</h:outputLink>
		</rich:column>
		<rich:column>
			<h:outputLabel value="last updated #{dashView.messageDate}" />		
		</rich:column>
		<rich:column>
			<h:outputLink value="/main/none.xhtml">My doc name</h:outputLink>
		</rich:column>
		<rich:column>
			<h:outputLabel value="last updated #{dashView.messageDate}" />		
		</rich:column>
		<rich:column>
			<h:outputLink value="/main/none.xhtml">My doc name</h:outputLink>
		</rich:column>
		<rich:column>
			<h:outputLabel value="last updated #{dashView.messageDate}" />		
		</rich:column>
		<rich:column>
			<h:outputLink value="/main/none.xhtml">My doc name</h:outputLink>
		</rich:column>
		<rich:column>
			<h:outputLabel value="last updated #{dashView.messageDate}" />		
		</rich:column>
	</h:panelGrid>
	<h:panelGroup styleClass="head">
		<h:outputLabel value="Recent documents:" />
	</h:panelGroup>
	<h:panelGrid columns="1" styleClass="panel">
		<rich:column>
			<h:outputLink value="/main/none.xhtml">My doc name</h:outputLink>
		</rich:column>
		<rich:column>
			<h:outputLabel value="last updated #{dashView.messageDate}" />		
		</rich:column>
		<rich:column>
			<h:outputLink value="/main/none.xhtml">My doc name</h:outputLink>
		</rich:column>
		<rich:column>
			<h:outputLabel value="last updated #{dashView.messageDate}" />		
		</rich:column>
		<rich:column>
			<h:outputLink value="/main/none.xhtml">My doc name</h:outputLink>
		</rich:column>
		<rich:column>
			<h:outputLabel value="last updated #{dashView.messageDate}" />		
		</rich:column>
		<rich:column>
			<h:outputLink value="/main/none.xhtml">My doc name</h:outputLink>
		</rich:column>
		<rich:column>
			<h:outputLabel value="last updated #{dashView.messageDate}" />		
		</rich:column>
	</h:panelGrid>
</h:body>
</html>
