<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:rich="http://richfaces.org/rich">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <h:outputStylesheet name="dashboard.css" library="css"/>
    <h:outputScript library="js" name="jsf.js"/>
    <title><h:outputLabel value="#{eosView.title}"/></title>
</h:head>

<h:body>
<ui:composition template="/templates/dashboard.xhtml">
<ui:define name="menu">
    <ui:include src="/main/leader/menu.xhtml"/>
</ui:define>
<ui:define name="content">
<style>
    #sortable {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 60%;
    }

    #sortable li {
        margin: 0 3px 3px 3px;
        padding: 0.4em;
        padding-left: 1.5em;
        font-size: 1.4em;
        height: 18px;
    }

    #sortable li span {
        position: absolute;
        margin-left: -1.3em;
    }
</style>

<h:outputLabel value="Add/Edit new project"
               style="padding: 2px; font-size:16px;"></h:outputLabel>
<h:panelGroup>
<h:outputLabel value="Set up:" style="padding: 2px; font-size:14px;"></h:outputLabel>
<h:panelGrid columns="2" width="100%">
<h:column>
    <div style="float: left">
        <h:panelGrid columns="2" width="100%">
            <h:column>
                <h:outputLabel value="Project name:"/>
                <h:inputText value="#{eosView.project.name}"
                             style="float:right">
                    <f:ajax execute="@this"></f:ajax>
                </h:inputText>
            </h:column>
            <h:column>
            </h:column>
            <h:column>
                <h:panelGroup id="desc">
                    <h:commandLink rendered="#{!eosView.hideDescProject}">add description
                        <f:ajax render="desc" listener="#{eosView.showDescProj()}"/>
                    </h:commandLink>
                    <h:commandLink rendered="#{eosView.hideDescProject}">hide description
                        <f:ajax render="desc" listener="#{eosView.showDescProj()}"/>
                    </h:commandLink>
                    <h:inputTextarea value="#{eosView.project.description}"
                                     style="float:right" rendered="#{eosView.hideDescProject}">
                        <f:ajax execute="@this"></f:ajax>
                    </h:inputTextarea>
                </h:panelGroup>
            </h:column>
            <h:column>
                <h:outputLabel value="Client:"/>
                <h:selectOneMenu value="#{eosView.clientID}"
                                 style="float:right">
                    <f:selectItems value="#{eosView.clients}"/>
                    <f:ajax execute="@this"></f:ajax>
                </h:selectOneMenu>
            </h:column>
            <h:column>
                <h:outputLabel value="How will you get paid:"/>
                <h:selectOneMenu value="#{eosView.invoicemethodID}"
                                 style="float:right">
                    <f:selectItems value="#{eosView.invoiceMethods}"/>
                    <f:ajax execute="@this" render="rates"></f:ajax>
                </h:selectOneMenu>
            </h:column>
            <h:column>
                <h:panelGroup id="rates">
                    <h:panelGrid columns="2" width="100%">
                        <h:column
                                rendered="#{eosView.invoicemethodID eq 1 or eosView.invoicemethodID eq 3}">
                            <h:outputLabel value="Flat rate:"/>
                            $ <h:inputText value="#{eosView.flatrate}" style="float:right">
                            <f:ajax execute="@this"></f:ajax>
                        </h:inputText>
                        </h:column>
                        <h:column>
                            <h:outputLabel value="Time estimate:"/>
                            <h:inputText value="#{eosView.budgetedHours}"
                                         style="float:right">
                                <f:ajax execute="@this"></f:ajax>
                            </h:inputText> h
                        </h:column>
                        <h:column
                                rendered="#{eosView.invoicemethodID eq 2 or eosView.invoicemethodID eq 3}">
                            <h:outputLabel value="Hourly rate:"/>
                            $ <h:inputText value="#{eosView.hourly}" style="float:right">
                            <f:ajax execute="@this"></f:ajax>
                        </h:inputText>
                        </h:column>
                    </h:panelGrid>
                </h:panelGroup>
            </h:column>
            <h:column>
                <h:outputLabel value="How will you invoice:"/>
                <h:selectOneMenu value="#{eosView.invoiceTypeId}"
                                 style="float:right">
                    <f:selectItems value="#{eosView.invoiceTypeList}"/>
                    <f:ajax execute="@this"></f:ajax>
                </h:selectOneMenu>
            </h:column>
        </h:panelGrid>
    </div>
</h:column>
<h:column width="100px">
    <div style="float: right">
        <h:outputLabel value="Add task:"
                       style="padding: 2px; font-size:14px;"/>
        <h:panelGrid columns="1" width="100%">
            <h:column>
                <h:selectOneMenu value="#{eosView.standardTasksID}">
                    <f:selectItems value="#{eosView.standardTasksList}"/>
                    <f:ajax execute="@this"></f:ajax>
                </h:selectOneMenu>
                <h:commandButton value="+">
                    <f:ajax execute="@form" listener="#{eosView.addTask()}"
                            render="@form"/>
                </h:commandButton>
            </h:column>
            <h:column>
                <h:panelGroup id="taskname" rendered="#{eosView.newtask}">
                    <h:outputLabel value="Task name:"/>
                    <h:inputText value="#{eosView.task.taskName}">
                        <f:ajax execute="@this"></f:ajax>
                    </h:inputText>
                </h:panelGroup>
            </h:column>
            <h:column>
                <h:panelGroup id="descT">
                    <h:commandLink rendered="#{!eosView.hideDescTask}">add description
                        <f:ajax render="descT" listener="#{eosView.showDescTask()}"/>
                    </h:commandLink>
                    <h:commandLink rendered="#{eosView.hideDescTask}">hide description
                        <f:ajax render="descT" listener="#{eosView.showDescTask()}"/>
                    </h:commandLink>
                    <h:inputTextarea value="#{eosView.task.description}"
                                     style="float:right" rendered="#{eosView.hideDescTask}">
                        <f:ajax execute="@this"></f:ajax>
                    </h:inputTextarea>
                </h:panelGroup>
            </h:column>
            <h:column>
                <h:selectOneMenu value="#{eosView.taskInvoiceMethodID}"
                                 style="float:right">
                    <f:selectItems value="#{eosView.taskInvoiceMethods}"/>
                    <f:ajax execute="@this" render="trates"></f:ajax>
                </h:selectOneMenu>
            </h:column>
            <h:column>
                <h:panelGroup id="trates">
                    <h:panelGrid columns="2" width="100%">
                        <h:column
                                rendered="#{eosView.taskInvoiceMethodID eq 1 or eosView.taskInvoiceMethodID eq 3}">
                            <h:outputLabel value="Flat rate:"/>
                            $ <h:inputText value="#{eosView.task.flatFee}"
                                           style="float:right">
                            <f:ajax execute="@this"></f:ajax>
                        </h:inputText>
                        </h:column>
                        <h:column>
                            <h:outputLabel value="Time estimate:"/>
                            <h:inputText value="#{eosView.task.estimatedHours}"
                                         style="float:right">
                                <f:ajax execute="@this"></f:ajax>
                            </h:inputText> h
                        </h:column>
                        <h:column
                                rendered="#{eosView.taskInvoiceMethodID eq 2 or eosView.taskInvoiceMethodID eq 3}">
                            <h:outputLabel value="Hourly rate:"/>
                            $ <h:inputText value="#{eosView.task.hourly}"
                                           style="float:right">
                            <f:ajax execute="@this"></f:ajax>
                        </h:inputText>
                        </h:column>
                    </h:panelGrid>
                </h:panelGroup>
            </h:column>
            <h:column>
                <h:selectBooleanCheckbox value="#{eosView.task.repeat}">
                    <f:ajax execute="@this"></f:ajax>
                </h:selectBooleanCheckbox>
                <h:outputLabel value="This task repeats"/>
            </h:column>
            <h:column>
                <h:selectOneMenu id="repeatlist"
                                 value="#{eosView.task.repeatID}" style="float:right">
                    <f:selectItems value="#{eosView.taskRepeat}"/>
                    <f:ajax render="dates" execute="@this"/>
                </h:selectOneMenu>
            </h:column>
            <h:column>
                <h:panelGroup id="dates">
                    <h:panelGrid columns="2" width="100%"
                                 rendered="#{eosView.task.repeatID eq 8}">
                        <h:column>
                            <h:outputLabel value="Start date: "/>
                            <h:inputText id="startDate" value="#{eosView.task.startDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy"/>
                                <f:ajax execute="@this"></f:ajax>
                            </h:inputText>
                        </h:column>
                        <h:column>
                            <h:outputLabel value="End date: "/>
                            <h:inputText id="endDate" value="#{eosView.task.endDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy"/>
                                <f:ajax execute="@this"></f:ajax>
                            </h:inputText>
                        </h:column>
                    </h:panelGrid>
                </h:panelGroup>

            </h:column>
            <h:column>
                <h:panelGroup id="tasklist">
                    <ui:repeat value="#{eosView.taskList}" var="t" varStatus="ix">
                        <h:commandButton id="remove" value="X">
                            <f:param name="taskid" value="#{t.ID}"></f:param>
                            <f:ajax execute="@this" render="@form"
                                    listener="#{eosView.removetask()}"/>
                        </h:commandButton>
                        <h:outputLabel value="#{t.taskName}"/>
                        <h:selectOneMenu value="#{t.ownerID}" style="float:right">
                            <f:selectItems value="#{eosView.employeeList}"/>
                            <f:ajax execute="@this"></f:ajax>
                        </h:selectOneMenu>
                        <br/>
                    </ui:repeat>
                </h:panelGroup>
            </h:column>
            <h:column>
                <h:commandButton value="Add task">
                    <f:ajax execute="@this" listener="#{eosView.addTasktoList()}"
                            render="@form"/>
                </h:commandButton>
            </h:column>
        </h:panelGrid>
    </div>
</h:column>

<h:column>
    <h:outputLabel value="Project team: "
                   style="padding: 2px; font-size:14px;"/>
    <h:selectOneMenu value="#{eosView.employeeID}">
        <f:selectItems value="#{eosView.employeeList}"/>
        <f:ajax execute="@this"></f:ajax>
    </h:selectOneMenu>
    <h:commandButton value="+">
        <f:ajax execute="@this" listener="#{eosView.assignEmployee()}"
                render="assignlist"/>
    </h:commandButton>
    <br/>

    <div style="border: 1px;">
        <h:panelGroup id="assignlist">
            <script type="text/javascript">
                jQuery(document).ready(function () {
                    $ = jQuery;
                    var form = $('#form');
                    $("#sortable").sortable({
                        update: function (event, ui) {
                            var strItems = "";

                            $("#sortable").children().each(function (i) {
                                var li = $(this);
                                strItems += li.attr("id") + ':' + i + ',';
                            });

                            $("#form\\:assignorder").val(strItems);
                            $("#form\\:refresh").click();
                        }
                    });
                    $("#sortable").disableSelection();
                });
            </script>
            <ul id="sortable">
                <ui:repeat id="assign" value="#{eosView.assignList}" var="e"
                           varStatus="ex">
                    <li id="#{e.ID}"
                        style="display: inline; list-style-type: none; padding-right: 20px;"><h:commandButton
                            id="remove" value="X">
                        <f:param name="empid" value="#{e.ID}"></f:param>
                        <f:ajax execute="@this" render="@form"
                                listener="#{eosView.removeassign()}"/>
                    </h:commandButton> <h:outputLabel value="#{e.name}"/></li>
                </ui:repeat>
            </ul>
            <h:inputHidden id="assignorder" value="#{eosView.assignorder}"/>
            <h:commandButton id="refresh" value="X" style="display:none">
                <f:param name="assignorder" value="#{eosView.assignorder}"></f:param>
                <f:ajax execute="@this" event="action" render="@form"
                        listener="#{eosView.refreshList}"></f:ajax>
            </h:commandButton>

        </h:panelGroup>
    </div>
</h:column>

</h:panelGrid>
<h:commandButton value="Save project">
    <f:ajax execute="@this" event="action" render="@form"
            listener="#{eosView.saveProject}"/>
</h:commandButton>
</h:panelGroup>

</ui:define>
</ui:composition>
</h:body>
</html>