<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<h:outputStylesheet name="dashboard.css" library="css" />
	<title><h:outputLabel value="#{dashView.title}" /></title>
</h:head>

<h:body>
	<ui:composition template="/templates/dashboard.xhtml">
		<ui:define name="content">
			<ui:include src="/main/leader/menu.xhtml" />
			<h:panelGroup>
				<h:panelGrid columns="2" width="100%">
					<rich:column>
						<h:panelGrid columns="2" width="100%">
							<rich:column>
								<h:outputLabel value="TO DO name:" />
								<h:outputText value="Bring joy to the world" style="float:right" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="Client:" />
								<h:selectOneMenu value="#{dashView.clientId}"
									style="float:right">
									<f:selectItems value="#{dashView.clients}" />
								</h:selectOneMenu>
							</rich:column>
							<rich:column>
								<h:outputLabel value="Invoice method:" />
								<h:selectOneMenu value="#{dashView.invoiceMethodId}"
									style="float:right">
									<f:selectItems value="#{dashView.invoiceMethod}" />
								</h:selectOneMenu>
							</rich:column>
							<rich:column>
								<h:panelGrid columns="2" width="100%">
									<rich:column>
										<h:outputLabel value="Flat rate:" />
										<h:outputText value="#{dashView.flatRate}" style="float:right" />
									</rich:column>
									<rich:column>
										<h:outputLabel value="Hourly rate:" />
										<h:outputText value="#{dashView.hourRate}" style="float:right" />
									</rich:column>
								</h:panelGrid>
							</rich:column>
							<rich:column>
								<h:outputLabel value="Due date:" />
								<h:outputText value="#{dashView.messageDate}" style="float:right" />
							</rich:column>
						</h:panelGrid>
					</rich:column>
					<rich:column width="100px">
						<h:inputTextarea value="#{dashView.todoDesc}" rows="3" />
					</rich:column>
				</h:panelGrid>
				<h:button value="Add/Save TO DO" />
			</h:panelGroup>
		</ui:define>
	</ui:composition>
</h:body>
</html>