<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:rich="http://richfaces.org/rich">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <h:outputStylesheet name="dashboard.css" library="css"/>
    <h:outputScript library="js" name="jsf.js"/>
    <title><h:outputLabel value="#{eosView.title}"/></title>
</h:head>

<h:body>
    <ui:composition template="/templates/dashboard.xhtml">
        <ui:define name="menu">
            <ui:include src="/main/leader/menu.xhtml"/>
        </ui:define>
        <ui:define name="content">
            <h:outputLabel value="Manual Invoices"
                           style="padding: 2px; font-size:16px;"></h:outputLabel>
            <h:panelGroup>
                <h:outputLabel value="Client:"/>
                <h:selectOneMenu value="#{eosView.clientID}" style="float:right">
                    <f:selectItems value="#{eosView.clients}"/>
                    <f:ajax execute="@this"></f:ajax>
                </h:selectOneMenu>
                <h:commandButton value="Bill everything for this client">
                    <f:ajax execute="@form" listener="#{eosView.billClient()}"
                            render="@form"/>
                </h:commandButton>
                <h:commandButton value="Create Invoice">
                    <f:ajax execute="@form" listener="#{eosView.createInvoice()}"
                            render="@form"/>
                </h:commandButton>
                <h:commandButton value="Review Invoice">
                    <f:ajax execute="@form" listener="#{eosView.reviewInvoice()}"
                            render="@form"/>
                </h:commandButton>
            </h:panelGroup>
            <f:facet name="header">
                <h:outputText value="Value"/>
            </f:facet>
            <h:dataTable value="#{eosView.invoicingProjects}" var="projects">
                <h:column>
                    <h:outputText value="#{projects.name}"/>
                    <h:outputText value="time worked:"/>
                    <h:outputText value="#{projects.workTime}"/>
                    <h:outputText value="time budget:"/>
                    <h:outputText value="#{projects.budgetedHours}"/>
                    <h:outputText value="time billed:"/>
                    <h:outputText value="#{projects.billedTime}"/>
                    <h:outputText value="$budget:"/>
                    <h:outputText value="#{projects.budget}"/>
                    <h:outputText value="$billed"/>
                    <h:outputText value="#{projects.billedAmount}"/>
                    <h:selectBooleanCheckbox value="#{eosView.invoiceall}"/> <br/>

                    <h:dataTable value="#{projects.invoicingTasks}" var="tasks">
                        <h:column>
                            <h:outputText value="#{tasks.taskName}"/>
                            <h:outputText value="invoice method:"/>
                            <h:outputText value="#{tasks.compensationMethod}"/>
                            <h:outputText value="time worked:"/>
                            <h:outputText value="#{tasks.workTime}"/>
                            <h:outputText value="time budget:"/>
                            <h:outputText value="#{tasks.budgetedHours}"/>
                            <h:outputText value="invoice amount:"/>
                            <h:outputText value="#{tasks.invoiceAmount}"/>
                            <h:outputText value="budget:"/>
                            <h:outputText value="#{tasks.budgetAmount}"/><br/>
                            <h:dataTable value="#{tasks.invoicingActivityLog}" var="alogs">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Memo" />
                                    </f:facet>
                                    <h:outputText value="#{alogs.note}" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="date" />
                                    </f:facet>
                                    <h:outputText value="#{alogs.date}" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="time" />
                                    </f:facet>
                                    <h:outputText value="#{alogs.workTime}" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="rate" />
                                    </f:facet>
                                    <h:outputText value="#{alogs.rate}" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="amount" />
                                    </f:facet>
                                    <h:outputText value="#{alogs.amount}" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="discount" />
                                    </f:facet>
                                    <h:outputText value="#{alogs.discount}" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="extended" />
                                    </f:facet>
                                    <h:outputText value="#{alogs.extended}" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="include?" />
                                    </f:facet>
                                    <h:outputText value="#{alogs.invoiced}" />
                                </h:column>
                            </h:dataTable>
                        </h:column>
                    </h:dataTable>
                </h:column>
            </h:dataTable>
        </ui:define>
    </ui:composition>
</h:body>
</html>