<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:body>
	<h:panelGroup styleClass="head">
		<h:outputLabel value="Log work:" />
	</h:panelGroup>
	<h:panelGrid columns="1" styleClass="panel">
		<rich:column>
			<h:selectOneMenu value="#{dashView.clientId}">
				<f:selectItems value="#{dashView.fileClients}" />
			</h:selectOneMenu>
		</rich:column>
		<rich:column>
			<h:selectOneMenu value="#{dashView.projectId}">
				<f:selectItems value="#{dashView.filePPTD}" />
			</h:selectOneMenu>
		</rich:column>
	</h:panelGrid>
	<h:panelGroup styleClass="head">
		<h:outputLabel value="My task list:" />
	</h:panelGroup>
	<h:panelGrid columns="1" styleClass="panel">
		<rich:column>
			<h:outputLink value="main/none.xhtml">File EDD response</h:outputLink>
		</rich:column>
		<rich:column>
			<h:outputLink value="main/none.xhtml">File EDD response</h:outputLink>
		</rich:column>
		<rich:column>
			<h:outputLink value="main/none.xhtml">File EDD response</h:outputLink>
		</rich:column>
		<rich:column>
			<h:outputLink value="main/none.xhtml">File EDD response</h:outputLink>
		</rich:column>
		<rich:column>
			<h:outputLink value="main/none.xhtml">File EDD response</h:outputLink>
		</rich:column>
		<rich:column>
			<h:inputTextarea value="#{dashView.notes}" rows="3"/>
		</rich:column>
		<rich:column>
			<h:panelGroup styleClass="center">
				<h:button value="Log hours" />
			</h:panelGroup>
		</rich:column>
	</h:panelGrid>
</h:body>
</html>
