<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">
<h:body>
	<div id="menu">
		<h:panelGrid columns="5" styleClass="menu" width="100%">
			<h:outputLink value="#{request.contextPath}">Dashboard</h:outputLink>
			<h:outputLink
				value="#{request.contextPath}/main/leader/editProject.xhtml">My programs/projects</h:outputLink>
			<h:outputLink
				value="#{request.contextPath}/main/leader/myToDos.xhtml">My TODO's</h:outputLink>
			<h:outputLink value="#{request.contextPath}/main/leader/myWork.xhtml">My Work</h:outputLink>
			<h:outputLink
				value="#{request.contextPath}/main/leader/myFiles.xhtml">My Files		
			</h:outputLink>
		</h:panelGrid>
	</div>
</h:body>
</html>