<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<h:outputStylesheet name="dashboard.css" library="css" />
	<title><h:outputLabel value="#{dashView.title}" /></title>
</h:head>

<h:body>
	<ui:composition template="/templates/dashboard.xhtml">
	<ui:define name="content">
	<ui:include src="/main/leader/menu.xhtml" />
	<h:panelGroup>
			<h:outputLabel value="Select a Project/Program: " />
			<h:selectOneMenu value="#{dashView.clientId}">
				<f:selectItems value="#{dashView.clients}" />
			</h:selectOneMenu>
			<h:selectOneMenu value="#{dashView.projectId}">
				<f:selectItems value="#{dashView.projects}" />
			</h:selectOneMenu>
			<h:selectBooleanCheckbox value="true" />
			<h:outputLabel value="Show archive "/>
			<rich:progressBar value="#{incView.progress}" enabled="true"
				minValue="0" maxValue="100" style="float:right:">
				<h:outputLabel value="#{incView.progress} %" />
			</rich:progressBar>
			<br />
			<h:outputLabel value="With selected: " />
			<h:button value="Mark as completed" />
			<h:button value="Archive" />

			<h:outputLink value="main/none.xhtml" style="float:right">Advanced search</h:outputLink>
			<h:inputText value="#{dashView.search}" style="float:right" />
			
			<ui:include src="/main/leader/projects.xhtml" />
	</h:panelGroup>
	</ui:define>
</ui:composition>
</h:body>
</html>