<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<h:outputStylesheet name="dashboard.css" library="css" />
	<title><h:outputLabel value="#{dashView.title}" /></title>
</h:head>

<h:body>
	<ui:composition template="/templates/dashboard.xhtml">
	<ui:define name="content">
	<ui:include src="/main/leader/menu.xhtml" />
	<h:panelGroup>
			<h:outputLabel value="My TO DO's: " />
			<h:button value="Add new TODO" style="float:right;" action="#{dashView.addTodo()}"/>
			<br />
			<h:outputLabel value="With selected: " />
			<h:button value="Mark as completed" />
			<h:button value="Mark as not completed" />
			<h:button value="Archive" />
			<h:button value="Delete" />

			<h:outputLink value="main/none.xhtml" style="float:right;">Advanced search</h:outputLink>
			<h:inputText value="#{dashView.search}" style="float:right;" />
			
			<ui:include src="/main/leader/todos.xhtml" />
	</h:panelGroup>
	</ui:define>
</ui:composition>
</h:body>
</html>