<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<h:outputStylesheet name="dashboard.css" library="css" />
	<title><h:outputLabel value="#{dashView.title}" /></title>
</h:head>

<h:body>
	<ui:composition template="/templates/dashboard.xhtml">
		<ui:define name="content">
			<ui:include src="/main/leader/menu.xhtml" />
			<h:panelGroup>
				<h:outputLabel value="My Work: " />
				<h:panelGrid columns="2" width="100%">
					<rich:column>
						<ui:include src="/main/leader/work.xhtml" />
						<h:panelGroup styleClass="panel" width="100%">
							<h:outputLabel value="Total for this month:" />
							<h:outputText value="148.3h" style="float:right" />
						</h:panelGroup>
					</rich:column>
					<rich:column width="100px">
						<ui:include src="/main/leader/logs.xhtml" />
					</rich:column>
				</h:panelGrid>
				<h:outputLabel value="Work log" />
						<ui:include src="/main/leader/worklogs.xhtml" />
			</h:panelGroup>
		</ui:define>
	</ui:composition>
</h:body>
</html>