<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<h:outputStylesheet name="dashboard.css" library="css" />
	<title><h:outputLabel value="#{dashView.title}" /></title>
</h:head>

<h:body>
	<ui:composition template="/templates/dashboard.xhtml">
	<ui:define name="content">
	<ui:include src="/main/leader/menu.xhtml" />
	<h:panelGrid columns="2">

		<rich:column style="width:100%;">
			<ui:include src="/main/leader/reply.xhtml" />
			<ui:include src="/main/leader/message2.xhtml" />

			<ui:include src="/main/leader/reply.xhtml" />
			<ui:include src="/main/leader/message2.xhtml" />

			<ui:include src="/main/leader/create.xhtml" />
		</rich:column>

		<rich:column style="width:100px;">
			<ui:include src="/main/leader/status.xhtml" />
		</rich:column>

	</h:panelGrid>
</ui:define>
</ui:composition>
</h:body>
</html>