<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:body>
	<h:panelGroup styleClass="head">
		<h:outputLabel value="Overall status:" />
	</h:panelGroup>
	<h:panelGrid columns="1" styleClass="panel">
		<rich:column>
			<h:outputLink value="leader/projectView.xhtml">Project #{dashView.uid}</h:outputLink>
			<h:outputLabel value="#{dashView.uid}0 %" style="float:right" />
		</rich:column>
		<rich:column>
			<h:outputLink value="leader/projectView.xhtml">Project #{dashView.uid}</h:outputLink>
			<h:outputLabel value="#{dashView.uid}0 %" style="float:right" />
		</rich:column>
		<rich:column>
			<h:outputLink value="leader/projectView.xhtml">Project #{dashView.uid}</h:outputLink>
			<h:outputLabel value="#{dashView.uid}0 %" style="float:right" />
		</rich:column>
		<rich:column>
			<h:outputLink value="leader/projectView.xhtml">Project #{dashView.uid}</h:outputLink>
			<h:outputLabel value="#{dashView.uid}0 %" style="float:right" />
		</rich:column>
		<rich:column>
			<h:button value="View all my projects" style="width:100%;" />
		</rich:column>
	</h:panelGrid>
	<h:panelGroup styleClass="head">
		<h:outputLabel value="To do list:" />
	</h:panelGroup>
	<h:panelGrid columns="1" styleClass="panel">
		<rich:column>
			<h:selectBooleanCheckbox value="true" />
			<h:outputLabel value="File EDD response" />
		</rich:column>
		<rich:column>
			<h:selectBooleanCheckbox value="true" />
			<h:outputLabel value="Contact FTB for payment" />
		</rich:column>
		<rich:column>
			<h:selectBooleanCheckbox value="true" />
			<h:outputLabel value="File EDD response" />
		</rich:column>
		<rich:column>
			<h:selectBooleanCheckbox value="true" />
			<h:outputLabel value="Contact FTB for payment" />
		</rich:column>
		<rich:column>
			<h:button value="Vieew all ToDo's" style="width:100%;" />
		</rich:column>
	</h:panelGrid>
</h:body>
</html>
