<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">
<h:body>
	<h:panelGrid columns="2">

		<rich:column style="width:100%;">
			<h:panelGrid columns="3"
				columnClasses="panelItem,panelItem,panelItem">
				<rich:column style="width:40px;">
					<h:graphicImage value="/resources/images/#{dashView.uid}.jpg"
						width="40px" height="40px" />
					<br />
					<h:outputText value="#{dashView.guestInitials}" />
				</rich:column>
				<rich:column style="width:100%;">
					<h:inputTextarea value="#{dashView.messageText}" rows="3"
						readonly="true" style="width:400px;" />
					<br />
					<h:panelGroup>
						<h:outputText value="#{dashView.messageDate}" />
						<h:button value="Reply" style="float:right;" />
					</h:panelGroup>
				</rich:column>
				<rich:column style="width:10px;">
					<h:selectBooleanCheckbox value="true" />
					<h:outputText value="&#160;&#160;!" style="font-weight:bold;" />
				</rich:column>
			</h:panelGrid>
		</rich:column>

		<rich:column style="width:100px;">
			<h:panelGrid columns="1" styleClass="panel">
				<h:outputLink value="main/none.xhtml">Documentation.doc</h:outputLink>
				<h:outputLink value="main/none.xhtml">stuff to do.xls</h:outputLink>
				<h:outputLabel value="&#160;" />
				<h:outputLabel value="&#160;" />
				<h:outputLink value="main/none.xhtml">Download all</h:outputLink>
			</h:panelGrid>
		</rich:column>

	</h:panelGrid>
</h:body>
</html>