<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:body>
	<h:panelGroup styleClass="head">
		<h:outputLabel value="Status:" />
	</h:panelGroup>
	<h:panelGrid columns="1" styleClass="panel">
		<rich:column>
			<h:selectOneMenu value="#{dashView.clientId}">
				<f:selectItems value="#{dashView.clients}" />
			</h:selectOneMenu>
		</rich:column>
		<rich:column>
			<h:selectOneMenu value="#{dashView.projectId}">
				<f:selectItems value="#{dashView.projects}" />
			</h:selectOneMenu>
		</rich:column>
		<rich:column>
			<rich:progressBar value="#{incView.progress}" enabled="true"
				minValue="0" maxValue="100">
				<h:outputLabel value="#{incView.progress} %" />
			</rich:progressBar>
		</rich:column>
<!-- 		<rich:column> -->
<!-- 			<rich:tree style="width:300px" var="item" -->
<!-- 				nodeSelectListener="#{dashView.taskSelection}" -->
<!-- 				binding="#{dashView.treeBinding}" value="#{dashView.taskNode}" -->
<!-- 				ajaxKeys="#{null}" reRender="selectedNode"> -->
<!-- 			</rich:tree> -->
<!-- 			<h:outputText id="selectedNode" -->
<!-- 				value="Selected Node: #{dashView.nodeTitle}" escape="false" /> -->
<!-- 		</rich:column> -->
		<rich:column>
			<h:button value="View task history" style="width:100%;" />
		</rich:column>
	</h:panelGrid>
	<h:panelGroup styleClass="head">
		<h:outputLabel value="To do list:" />
	</h:panelGroup>
	<h:panelGrid columns="1" styleClass="panel">
		<rich:column>
			<h:selectBooleanCheckbox value="true" />
			<h:outputLabel value="File EDD response" />
		</rich:column>
		<rich:column>
			<h:selectBooleanCheckbox value="true" />
			<h:outputLabel value="Contact FTB for payment" />
		</rich:column>
		<rich:column>
			<h:selectBooleanCheckbox value="true" />
			<h:outputLabel value="File EDD response" />
		</rich:column>
		<rich:column>
			<h:selectBooleanCheckbox value="true" />
			<h:outputLabel value="Contact FTB for payment" />
		</rich:column>
		<rich:column>
			<h:button value="To do history" style="width:100%;" />
		</rich:column>
	</h:panelGrid>
</h:body>
</html>
