<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:body>

	<h:dataTable value="#{dashView.todoList}" var="t" width="100%">
		<f:facet name="header" width="100%">
			<rich:column width="20px">
				<h:panelGroup>
					<h:selectBooleanCheckbox value="false" />
					<h:outputLabel value="To do name" />
				</h:panelGroup>
			</rich:column>
			<rich:column>
				<h:outputLabel value="Description"/>
			</rich:column>
			<rich:column width="20px">
				<h:outputLabel value="Due date" />
			</rich:column>
			<rich:column width="20px">
				<h:outputLabel value="Estimated time" />
			</rich:column>
			<rich:column width="20px">
				<h:outputLabel value="Work time" />
			</rich:column>
			<rich:column width="5px">
				<h:outputLabel value="Status" />
			</rich:column>
		</f:facet>
		<rich:column>
			<h:panelGroup>
				<h:selectBooleanCheckbox value="#{t.selected}" />
				<h:outputText value="#{t.name}" />
			</h:panelGroup>
		</rich:column>
		<rich:column>
			<h:outputText value="#{t.description}"/>
		</rich:column>
		<rich:column>
			<h:outputText value="#{t.shortDueDate}" />
		</rich:column>
		<rich:column>
			<h:outputText value="#{t.estTime}" />
		</rich:column>
		<rich:column>
			<h:outputText value="#{t.wrkTime}" />
		</rich:column>
		<rich:column>
			<h:selectBooleanCheckbox value="#{t.status}" />
		</rich:column>
	</h:dataTable>

</h:body>
</html>