<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:body>

	<h:dataTable value="#{dashView.workLog}" var="t" width="100%">
		<f:facet name="header" width="100%">
			<rich:column width="20px">
				<h:selectBooleanCheckbox value="false" />
			</rich:column>
			<rich:column width="20px">
				<h:outputLabel value="Project" />
			</rich:column>
			<rich:column width="20px">
				<h:outputLabel value="Task/To do" />
			</rich:column>
			<rich:column>
				<h:outputLabel value="Notes" />
			</rich:column>
			<rich:column width="20px">
				<h:outputLabel value="Hours" />
			</rich:column>
			<rich:column width="20px">
				<h:outputLabel value="Actions" />
			</rich:column>
		</f:facet>
		<rich:column>
			<h:selectBooleanCheckbox value="#{t.selected}" />
		</rich:column>
		<rich:column>
			<h:outputText value="#{t.project}" />
		</rich:column>
		<rich:column>
			<h:outputText value="#{t.task}" />
		</rich:column>
		<rich:column>
			<h:outputText value="#{t.notes}" />
		</rich:column>
		<rich:column>
			<h:outputText value="#{t.hours}" />
		</rich:column>
		<rich:column>
			<h:button value="Edit" style="float:center;" />
		</rich:column>
	</h:dataTable>
	<h:panelGroup>
		<h:outputLabel value="With selected: " />
			<h:button value="Delete" />
	</h:panelGroup>
</h:body>
</html>