<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:body>

	<h:dataTable value="#{dashView.work}" var="t" width="100%">
		<f:facet name="header" width="100%">
			<rich:column>
				<h:outputLabel value="Sunday" />
			</rich:column>
			<rich:column>
				<h:outputLabel value="Monday" />
			</rich:column>
			<rich:column>
				<h:outputLabel value="Tuesday" />
			</rich:column>
			<rich:column>
				<h:outputLabel value="Wednesday" />
			</rich:column>
			<rich:column>
				<h:outputLabel value="Thursday" />
			</rich:column>
			<rich:column>
				<h:outputLabel value="Friday" />
			</rich:column>
			<rich:column>
				<h:outputLabel value="Saturday" />
			</rich:column>
			<rich:column>
				<h:outputLabel value="Total" />
			</rich:column>
		</f:facet>
		<rich:column>
			<h:inputText value="#{t[0]}" size="4" />
		</rich:column>
		<rich:column>
			<h:inputText value="#{t[1]}" size="4" />
		</rich:column>
		<rich:column>
			<h:inputText value="#{t[2]}" size="4" />
		</rich:column>
		<rich:column>
			<h:inputText value="#{t[3]}" size="4" />
		</rich:column>
		<rich:column>
			<h:inputText value="#{t[4]}" size="4" />
		</rich:column>
		<rich:column>
			<h:inputText value="#{t[5]}" size="4" />
		</rich:column>
		<rich:column>
			<h:inputText value="#{t[6]}" size="4" />
		</rich:column>
		<rich:column>
			<h:outputText value="#{t[7]}" />
		</rich:column>
	</h:dataTable>

</h:body>
</html>