<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:composition template="/templates/incwiz.xhtml">
		<ui:define name="content">

		<table class="question-table question-table-p1">
			<tbody>
                <tr class="question-row cf">
                    <td class="question" width="60%">
                        <p><b>Frequently asked questions:</b></p>
                    </td>
                    <td class="answer align-center" rowspan="5" width="40%" height="100%">
                        <iframe width="100%" height="100%" src="//www.youtube.com/embed/kGVwM3xriHg?wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
                    </td>
                </tr>
				<tr class="question-row cf">
					<td class="question">
						<p><b>#{incView.quest(0).label}</b></p>
						<p style="margin-top: .3em;">#{incView.quest(0).defaultValue}</p>
					</td>
				</tr>
				<tr class="question-row cf">
					<td class="question">
						<p><b>#{incView.quest(1).label}</b></p>
						<p style="margin-top: .3em;">#{incView.quest(1).defaultValue}</p>
					</td>
				</tr>
				<tr class="question-row cf">
					<td class="question">
						<p><b>#{incView.quest(2).label}</b></p>
						<p style="margin-top: .3em;">#{incView.quest(2).defaultValue}</p>
					</td>
				</tr>
                <tr class="question-row cf">
                    <td class="question">
                        <table style="width: 100%">
                            <tbody>
                            <tr>
                                <td class="question" width="30%">
                                    <h:commandButton id="next" value="Create your company now!" immediate="true"
                                         class="button-green large-button"
                                         rendered="#{incView.currPage lt (incView.lastPage-1)}"
                                         action="#{incView.nextPage()}"/>
                                </td>
                                <td>
                                    <h:panelGroup id="agreementCheckboxes">
                                        <script type="text/javascript">
                                            jQuery(document).ready(function(){
                                                $ = jQuery;

                                                modalWindow = $('#modalWindow');
                                                modalBackground = $('#modalBackground');

                                                $('.disclaimer').on('click',function(e){
                                                    if ($(this).is(':checked')) {
                                                        showModal($('#legalStuff').html(),'auto');
                                                    }
                                                });

                                                $('#form\\:next').on('click',function(e){
                                                    if (!$('.disclaimer').is(':checked')) {
                                                        e.preventDefault();
                                                        showModal($('#legalStuff').html(),'auto');
                                                    }
                                                });

                                            });
                                        </script>
                                        <h:selectBooleanCheckbox id="disclaimer" class="disclaimer" name="disclaimer" value="#{incView.answer.com.disclaimer}"/>
                                        <h:outputLabel for="disclaimer" value="I agree with the legal stuff"/>
                                        <p class="errorContainer"></p>
                                        <p style="font-size: .8em;">(I agree with the terms of service and I have read the disclaimer)</p>
                                    </h:panelGroup>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
			</tbody>
		</table>
		</ui:define>
	</ui:composition>
</html>