<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
        >

<ui:composition template="/templates/incwiz.xhtml">
    <ui:define name="content">

        <script type="text/javascript">
            jQuery(document).ready(function () {

                $ = jQuery;
                var form = $('#form');

                form.validate({

                    onfocusin: false,
                    onfocusout: false,
                    onkeyup: false,
                    onclick: false,

                    rules: {
                        'form:state': {
                            required: true,
                            notEqual: 0
                        },
                        'form:license': {
                            required: true,
                            notEqual: -1
                        },
                        'form:otherReason': {
                            required: true
                        }
                    },

                    messages: {
                        'form:state': {
                            required: "Please select a state",
                            notEqual: "Please select a state"
                        },
                        'form:otherReason': {
                            required: "Please specify the reason for your incorporation"
                        }
                    }

                });

                form.on("submit", function (event) {
                    if (!form.valid()) {
                        event.preventDefault();
                    }
                });

            });
        </script>

        <table class="question-table">
            <tbody>
            <tr class="question-row cf">
                <td class="question">
                    <h:outputText value="#{incView.quest(0).label}" escape="false"/>
                </td>
                <td class="answer" style="width:30%;">
                    <h:selectOneMenu value="#{incView.answer.com.state}" title="#{q.hint}" id="state"
                                     style="width: 50%">
                        <f:selectItems value="#{dashView.states}"/>
                        <f:ajax execute="contentPanel" render="contentPanel" listener="#{incView.setAddressStates}"/>
                    </h:selectOneMenu>
                </td>
                <td class="answer-2">
                    <a data-toggle="tooltip" data-placement="right" data-animation="true"
                       title="#{incView.quest(0).hint}" class="button-blue">?</a>
                </td>
            </tr>
            <h:panelGroup rendered="#{incView.answer.com.state != 0}">
                <tr class="question-row cf">
                    <td class="question">
                        <h:outputText value="#{incView.quest(1).label}" escape="false"/>
                    </td>
                    <td class="answer">
                        <h:selectOneMenu value="#{incView.answer.com.needLicense}" style="width: 50%" id="license">
                            <f:selectItem itemValue="-1" itemLabel="Select an option"/>
                            <f:selectItem itemValue="0" itemLabel="No"/>
                            <f:selectItem itemValue="1" itemLabel="Yes"/>
                            <f:ajax execute="contentPanel" render="contentPanel"/>
                        </h:selectOneMenu>
                    </td>
                    <td class="answer-2">
                        <a data-toggle="tooltip" data-placement="right" data-animation="true"
                           title="#{incView.quest(1).hint}" class='button-blue'>?</a>
                    </td>
                </tr>
                <h:panelGroup rendered="#{incView.answer.com.needLicense > 0}">
                    <h:panelGroup rendered="#{incView.answer.com.needLicense == 1}">
                        <tr class="question-row cf">
                            <td class="question">
                                <h:outputText value="#{incView.quest(2).label}" escape="false"/>
                            </td>
                            <td class="answer">
                                <h:selectOneMenu
                                        value="#{incView.answer.com.LLC}" style="width: 50%"
                                        title="#{incView.quest(2).hint}" layout="pageDirection" id="LLC">
                                    <f:selectItems value="#{incView.getItems('getLLC')}"/>
                                    <f:ajax execute="contentPanel" render="contentPanel"/>
                                </h:selectOneMenu>
                            </td>
                            <td class="answer-2">
                            </td>
                        </tr>
                    </h:panelGroup>
                    <tr class="question-row cf">
                        <td class="question adder">
                            <h:outputText value="#{incView.quest(3).label}" escape="false"/>
                            <br/><br/>

                            <p class="adder">#{incView.getAdder(incView.EIN)}</p>
                        </td>
                        <td class="answer">
                            <h:selectOneMenu value="#{incView.answer.com.helpEIN}" id="fein" style="width: 100%">
                                <f:selectItem itemValue="1" itemLabel="YES - Fill out the form and I will send it"/>
                                <f:selectItem itemValue="2" itemLabel="YES - Fill out the form and submit this for me"/>
                                <f:selectItem itemValue="0" itemLabel="NO - I will do this later"/>
                                <f:ajax execute="@this" render="contentPanel"/>
                            </h:selectOneMenu>
                        </td>
                        <td class="answer-2">
                            <a data-toggle="tooltip" data-placement="right" data-animation="true"
                               title="#{incView.quest(3).hint}" class='button-blue'>?</a>
                        </td>
                    </tr>
                    <tr class="question-row cf">
                        <td class="question">
                            <h:outputText value="#{incView.quest(4).label}" escape="false"/>
                        </td>
                        <td class="answer">
                            <h:selectOneMenu value="#{incView.answer.com.reason}" id="reason" style="width: 100%">
                                <f:selectItems value="#{incView.getItems('getReason')}"/>
                                <f:ajax execute="contentPanel" render="contentPanel"/>
                            </h:selectOneMenu>
                        </td>
                        <td class="answer-2">
                        </td>
                    </tr>
                    <h:panelGroup rendered="#{incView.answer.com.reason == incModel.otherReasonValue}">
                        <tr class="question-row cf">
                            <td class="question">
                                <h:outputText value="#{incView.quest(5).label}" escape="false"/>
                            </td>
                            <td class="answer">
                                <h:inputText value="#{incView.answer.com.otherReason}" id="otherReason"
                                             style="width: 100%">
                                    <f:ajax execute="contentPanel"/>
                                </h:inputText>
                            </td>
                            <td class="answer-2">
                            </td>
                        </tr>
                    </h:panelGroup>
                </h:panelGroup>
            </h:panelGroup>
            </tbody>
        </table>
    </ui:define>
</ui:composition>
</html>