<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
        >

<ui:composition template="/templates/incwiz.xhtml">
<ui:define name="content">

<script type="text/javascript">

    jQuery(document).ready(function () {

        $ = jQuery;

        var form = $('#form');

        form.validate({

            onfocusin: false,
            onclick: false,
            onkeyup: false,

            rules: {
                'form:nonProfit': {
                    required: true,
                    notEqual: -1
                },
                'form:nonProfitType': {
                    required: true,
                    notEqual: 1
                },
                'form:naics': {
                    required: true,
                    notEqual: 0
                },
                'form:name1': {
                    required: true,
                    minlength: 3,
                    notEqual: '#{incView.defaultComName1}'
                },
                'form:name2': {
                    required: true,
                    minlength: 3,
                    notEqual: '#{incView.defaultComName2}'
                },
                'form:name3': {
                    required: true,
                    minlength: 3,
                    notEqual: '#{incView.defaultComName3}'
                },
                'form:tradeName': {
                    required: true,
                    minlength: 3
                },
                'form:nbOwners': {
                    required: true,
                    number: true
                },
                'form:zip1': {
                    required: true,
                    zip: true
                },
                'form:zip2': {
                    required: true,
                    zip: true
                },
                'form:zip3': {
                    required: true,
                    zip: true
                },
                'form:zip4': {
                    required: true,
                    zip: true
                }
            },
            messages: {
                'form:nonProfit': {
                    required: "Please specify if your companny is a non profit.",
                    notEqual: "Please specify if your companny is a non profit."
                },
                'form:naics': {
                    required: "Please specify the purpose of your non-profit.",
                    notEqual: "Please specify the purpose of your non-profit."
                },
                'form:name1': {
                    required: "Please specify the 1st name of your business.",
                    notEqual: "Please specify the 1st name of your business."
                },
                'form:name2': {
                    required: "Please specify the 2nd name of your business.",
                    notEqual: "Please specify the 2nd name of your business."
                },
                'form:name3': {
                    required: "Please specify the 3rd name of your business.",
                    notEqual: "Please specify the 3rd name of your business."
                },
                'form:nbOwners': {
                    required: "Please enter the number of owners",
                    number: "Please enter a valid number"
                },
                'form:zip1': {
                    required: "Please enter the ZIP code"
                },
                'form:zip2': {
                    required: "Please enter the ZIP code"
                },
                'form:zip3': {
                    required: "Please enter the ZIP code"
                },
                'form:zip4': {
                    required: "Please enter the ZIP code"
                }
            }

        });

        form.on("submit", function (event) {
            if (!form.valid()) {
                event.preventDefault();
            }
        });

        // MAKE ALL TEXT INPUT FIELDS AUTOSELECT TEXT
        $("input[type=text]").click(function () {
            $(this).select();
        });

        // special tooltip for nbOwners > 100
        var tooltipActive = false;

        if (parseInt($('#form\\:nbOwners').val()) >= 100) {
            $('#nbOwnersTooltip').tooltip('show');
            tooltipActive = true;
        } else {
            $('#nbOwnersTooltip').tooltip('hide');
            tooltipActive = false;
        }

        $('#form\\:nbOwners').on('keyup', function () {
            if (parseInt($(this).val()) >= 100) {
                $('#nbOwnersTooltip').tooltip('show');
                tooltipActive = true;
            } else {
                $('#nbOwnersTooltip').tooltip('hide');
                tooltipActive = false;
            }
        });

        $('#content-nomenu .tse-scroll-content').on('scroll', function () {
            if (tooltipActive) {
                $('#nbOwnersTooltip').tooltip('hide');
            }
        });

    });
</script>

<table class="question-table">
    <tbody>
    <tr class="question-row cf">
        <td class="question" width="30%"><h:outputText
                value="#{incView.quest(0).label}" escape="false"/></td>
        <td class="answer">
            <h:selectOneMenu value="#{incView.answer.com.nonProfit}" id="nonProfit" style="width:60%;">
                <f:selectItem itemValue="-1" itemLabel="Select an option"/>
                <f:selectItem itemValue="0" itemLabel="No"/>
                <f:selectItem itemValue="1" itemLabel="Yes"/>
                <f:ajax execute="contentPanel" render="contentPanel"/>
            </h:selectOneMenu></td>
        <td class="answer-2"></td>
    </tr>
    <h:panelGroup rendered="#{incView.answer.com.comIsNonProfit()}">
        <tr class="question-row cf">
            <td class="question" width="30%">
                <h:outputText value="#{incView.quest(1).label}" escape="false"/>
            </td>
            <td class="answer">
                <div>
                    <h:selectOneMenu value="#{incView.answer.com.nonProfitType}" id="nonProfitType"
                                     style="width:60%;">
                        <f:selectItems value="#{incView.getItems('getNonProfitTypes')}"/>
                        <f:ajax execute="contentPanel" render="contentPanel" listener="#{incView.adjustNonProfit}"/>
                    </h:selectOneMenu>
                </div>
                <div style="margin-top: .5em;">
                    <h:panelGroup rendered="#{incView.answer.com.comIsPublic()}" style="width:40% ;float:right;">
                        <h:selectOneRadio value="#{incView.answer.com.publicBenefit}"
                                          title="#{incView.quest(2).hint}" layout="pageDirection"
                                          id="purpose" style="text-align:left;">
                            <f:selectItems value="#{incView.getRadio(incView.quest(2).label)}"/>
                        </h:selectOneRadio>
                    </h:panelGroup>
                </div>
            </td>
            <td class="answer-2"><a data-toggle="tooltip"
                                    data-placement="right" data-animation="true"
                                    title="#{incView.quest(1).hint}" class="button-blue">H</a></td>
        </tr>
        <tr class="question-row cf">
            <td class="question" width="30%">
                <h:outputText value="#{incView.quest(3).label}" escape="false"/>
            </td>
            <td class="answer">
                <p>
                    <h:inputText value="#{incView.naicsText}" style="width:100%;"
                                 id="naicsText">
                        <f:ajax execute="contentPanel" render="form:naics" event="keyup"
                                listener="#{incView.naicsListener}"/>
                    </h:inputText>
                </p>

                <p>
                    <h:selectOneListbox id="naics"
                                        value="#{incView.answer.com.purpose}" size="4"
                                        style="width:100%;">
                        <f:selectItems value="#{incView.naics}">
                            <f:param name="text" value="#{incView.naicsText}"/>
                        </f:selectItems>
                        <f:ajax execute="contentPanel" render="contentPanel"/>
                    </h:selectOneListbox>
                </p>
            </td>
            <td class="answer-2"></td>
        </tr>
    </h:panelGroup>
    <h:panelGroup rendered="#{incView.answer.com.comIsCID()}">
        <tr class="question-row cf">
            <td class="question" width="30%">
                <h:outputText value="#{incView.quest(4).label}" escape="false"/>
            </td>
            <td class="answer"><h:selectOneMenu
                    value="#{incView.answer.com.cid}"
                    title="#{incView.quest(4).hint}" layout="pageDirection"
                    id="cid" style="width:60%;">
                <f:selectItems value="#{incView.getItems('getCid')}"/>
                <f:ajax execute="contentPanel" render="contentPanel"/>
            </h:selectOneMenu></td>
            <td class="answer-2"></td>
        </tr>
        <h:panelGroup>
            <tr class="question-row cf">
                <td class="question">
                    <h:outputText value="#{incView.quest(5).label}" escape="false"/></td>
                <td class="answer"><h:inputText
                        value="#{incView.answer.com.nbOwners}" id="nbInterests"
                        maxlength="3" style="width:60%;">
                    <f:ajax event="blur" execute="contentPanel" render="contentPanel"
                            listener="#{incView.adjustNbOwners}"/>
                </h:inputText></td>
                <td class="answer-2"></td>
            </tr>
        </h:panelGroup>
    </h:panelGroup>
    <h:panelGroup rendered="#{!incView.answer.com.comIsCID()}">
        <tr class="question-row cf">
            <td class="question"><h:outputText value="#{incView.quest(6).label}" escape="false"/></td>
            <td class="answer">
                <h:inputText value="#{incView.answer.com.nbOwners}" maxlength="3" id="nbOwners" style="width:60%">
                    <f:ajax event="blur" execute="contentPanel" render="contentPanel"
                            listener="#{incView.adjustNbOwners}"/>
                </h:inputText>
            </td>
            <td class="answer-2"><a id="nbOwnersTooltip" data-toggle="tooltip"
                                    data-placement="right" data-animation="true"
                                    title="#{incView.quest(6).hint}" class="button-blue">H</a></td>
        </tr>
    </h:panelGroup>
    <h:panelGroup rendered="#{!incView.answer.com.comIsNonProfit() and incView.answer.com.nbOwners lt 36}">
        <tr class="question-row cf">
            <td class="question"><h:outputText value="#{incView.quest(7).label}" escape="false"/></td>
            <td class="answer">
                <h:selectOneMenu value="#{incView.answer.com.closeCorp}" id="closeCorp" style="width:60%">
                    <f:selectItem itemValue="0" itemLabel="No"/>
                    <f:selectItem itemValue="1" itemLabel="Yes"/>
                </h:selectOneMenu>
            </td>
            <td class="answer-2"><a data-toggle="tooltip"
                                    data-placement="right" data-animation="true"
                                    title="#{incView.quest(7).hint}" class="button-blue">H</a></td>
        </tr>
    </h:panelGroup>
    </tbody>
</table>
<h2>Name and Address info</h2>
<table class="question-table">
    <tbody>
    <tr class="question-row cf">
        <td class="question"><h:outputText value="#{incView.quest(8).label}" escape="false"/></td>
        <td class="answer"></td>
        <td class="answer-2">
            <p>
                <h:inputText value="#{incView.answer.com.name1}" id="name1"
                             style="width:100%;">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
            </p>

            <p>
                <h:inputText value="#{incView.answer.com.name2}" id="name2"
                             style="width:100%;">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
            </p>

            <p>
                <h:inputText value="#{incView.answer.com.name3}" id="name3"
                             style="width:100%;">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
            </p>
        </td>
    </tr>
    <tr class="question-row cf">
        <td class="question"><h:outputText value="#{incView.quest(9).label}" escape="false"/></td>
        <td class="answer"></td>
        <td class="answer-2">
            <p>
                <h:inputText value="#{incView.principal.address.address1}"
                             style="width:100%" id="address1">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
            </p>

            <p>
                <h:inputText value="#{incView.principal.address.address2}"
                             style="width:100%" id="address2">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
            </p>

            <p>
                <h:inputText value="#{incView.principal.address.city}" id="city1"
                             style="width:42%">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
                <h:outputLabel value="&#160;"/>
                <h:selectOneMenu id="state1" value="#{incView.principal.address.state}" style="width:22%">
                    <f:selectItems value="#{dashView.states}"/>
                    <f:ajax execute="contentPanel"/>
                </h:selectOneMenu>
                <h:outputLabel value="&#160;"/>
                <h:inputText value="#{incView.principal.address.zip}" id="zip1"
                             style="width:32%">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
            </p>
        </td>
    </tr>
    <tr class="question-row cf">
        <td class="question"><h:outputText value="#{incView.quest(10).label}" escape="false"/></td>
        <td class="answer"></td>
        <td class="answer-2">
            <p>
                <h:selectBooleanCheckbox value="#{incView.answer.com.mailDiff}" id="mailDiff">
                    <f:ajax execute="contentPanel" render="contentPanel"/>
                </h:selectBooleanCheckbox>
                <h:outputLabel value="#{incView.quest(11).label}" for="form:mailDiff"/>
            </p>
            <h:panelGroup id="mailAddr" rendered="#{!incView.answer.com.mailDiff}">
                <p>
                    <h:inputText value="#{incView.mailing.address.address1}"
                                 style="width:100%" id="mail1">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                </p>

                <p>
                    <h:inputText value="#{incView.mailing.address.address2}"
                                 style="width:100%" id="mail2">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                </p>

                <p>
                    <h:inputText value="#{incView.mailing.address.city}" id="city2"
                                 style="width:42%">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                    <h:outputLabel value="&#160;"/>
                    <h:selectOneMenu id="state2" value="#{incView.mailing.address.state}" style="width:22%">
                        <f:selectItems value="#{dashView.states}"/>
                        <f:ajax execute="contentPanel"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="&#160;"/>
                    <h:inputText value="#{incView.mailing.address.zip}" id="zip2"
                                 style="width:32%">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                </p>
            </h:panelGroup>
        </td>
    </tr>
    <tr class="question-row cf">
        <td class="question"><h:outputText value="#{incView.getLabelWithState(12)}" escape="false"/></td>
        <td class="answer"></td>
        <td class="answer-2">
            <p>
                <h:selectBooleanCheckbox value="#{incView.answer.com.officeDiff}" id="officeDiff">
                    <f:ajax execute="contentPanel" render="contentPanel"/>
                </h:selectBooleanCheckbox>
                <h:outputLabel value="#{incView.quest(13).label}" for="form:officeDiff"/>
            </p>
            <h:panelGroup id="officeAddr" rendered="#{!incView.answer.com.officeDiff}">
                <p>
                    <h:inputText value="#{incView.office.address.address1}"
                                 style="width:100%" id="office1">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                </p>

                <p>
                    <h:inputText value="#{incView.office.address.address2}"
                                 style="width:100%" id="office2">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                </p>

                <p>
                    <h:inputText value="#{incView.office.address.city}" id="city3"
                                 style="width:42%">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                    <h:outputLabel value="&#160;"/>
                    <h:selectOneMenu id="state3" value="#{incView.office.address.state}" style="width:22%">
                        <f:selectItems value="#{dashView.states}"/>
                        <f:ajax execute="contentPanel"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="&#160;"/>
                    <h:inputText value="#{incView.office.address.zip}" id="zip3"
                                 style="width:32%">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                </p>
            </h:panelGroup>
        </td>
    </tr>
    <h:panelGroup rendered="#{incView.answer.com.comIsCID()}">
        <tr class="question-row cf">
            <td class="question"><h:outputText value="#{incView.quest(14).label}" escape="false"/></td>
            <td class="answer"></td>
            <td class="answer-2">
                <p>
                    <h:selectBooleanCheckbox value="#{incView.answer.com.physDiff}" id="physDiff">
                        <f:ajax execute="contentPanel" render="contentPanel"/>
                    </h:selectBooleanCheckbox>
                    <h:outputLabel value="#{incView.quest(15).label}" for="form:physDiff"/>
                </p>
                <h:panelGroup id="physAddr" rendered="#{!incView.answer.com.physDiff}">
                    <p>
                        <h:inputText value="#{incView.physical.address.address1}"
                                     style="width:100%" id="phys1">
                            <f:ajax execute="contentPanel"/>
                        </h:inputText>
                    </p>

                    <p>
                        <h:inputText value="#{incView.physical.address.address2}"
                                     style="width:100%" id="phys2">
                            <f:ajax execute="contentPanel"/>
                        </h:inputText>
                    </p>

                    <p>
                        <h:inputText value="#{incView.physical.address.city}" id="city4"
                                     style="width:32%">
                            <f:ajax execute="contentPanel"/>
                        </h:inputText>
                        <h:outputLabel value="&#160;"/>
                        <h:selectOneMenu id="state4" value="#{incView.physical.address.state}" style="width:22%">
                            <f:selectItems value="#{dashView.states}"/>
                            <f:ajax execute="contentPanel"/>
                        </h:selectOneMenu>
                        <h:outputLabel value="&#160;"/>
                        <h:inputText value="#{incView.physical.address.zip}" id="zip4"
                                     style="width:32%">
                            <f:ajax execute="contentPanel"/>
                        </h:inputText>
                    </p>
                </h:panelGroup>
            </td>
        </tr>
    </h:panelGroup>
    </tbody>
</table>
</ui:define>
</ui:composition>
</html>