<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/templates/incwiz.xhtml">
    <ui:define name="content">
        <table class="question-table">
            <tbody>
            <tr class="question-row cf">
                <td class="question adder">
                    <h:outputText value="#{incView.quest(0).label}" escape="false"/>
                    <br/><br/>

                    <p class="adder">#{incView.getAdder(incView.EIN)}</p>
                </td>
                <td class="answer">
                    <h:selectOneMenu value="#{incView.answer.com.helpEIN}" id="fein" style="width: 100%">
                        <f:selectItem itemValue="1" itemLabel="YES - Fill out the form and I will send it"/>
                        <f:selectItem itemValue="2" itemLabel="YES - Fill out the form and submit this for me"/>
                        <f:selectItem itemValue="0" itemLabel="NO - I will do this later"/>
                        <f:ajax execute="@this" render="contentPanel"/>
                    </h:selectOneMenu>
                </td>
                <td class="answer-2">
                    <a data-toggle="tooltip" data-placement="right" data-animation="true"
                       title="#{incView.quest(0).hint}" class="button-blue">?</a>
                </td>
            </tr>
            </tbody>
        </table>
    </ui:define>
</ui:composition>
</html>