<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
        >

<ui:composition template="/templates/incwiz.xhtml">
    <ui:define name="content">
        <script type="text/javascript">
            jQuery(document).ready(function () {

                $ = jQuery;

                var form = $('#form');

                form.validate({
                    onfocusin: false,
                    onclick: false,
                    onkeyup: false,

                    rules: {
                        'input:zip': {
                            required: true,
                            zip: true
                        }
                    },
                    messages: {
                        'input:zip': {
                            required: "Please enter the ZIP code"
                        }
                    }
                });

                form.on("submit", function (event) {
                    if (!form.valid()) {
                        event.preventDefault();
                    }
                });

                // MAKE ALL TEXT INPUT FIELDS AUTOSELECT TEXT
                $("input[type=text]").click(function () {
                    $(this).select();
                });

            });
        </script>
        <table class="question-table">
            <tbody>
            <tr class="question-row cf">
                <td class="question" colspan="2">
                    <h:outputText value="#{incView.quest(0).label}" escape="false"/>
                </td>
            </tr>
            <tr class="question-row cf">
                <td class="question" colspan="2">
                    <h:outputText value="#{incView.getLabelWithState(1)}" escape="false"/>
                </td>
            </tr>
            <h:form id="form12">
                <ui:repeat id="rid" value="#{incView.answer.com.board}" var="b" varStatus="ix">
                    <tr class="question-row cf">
                        <td class="question" width="20%"/>
                        <td class="answer">
                            <p>
                                <h:outputText value="#{ix.index+1})&#160;"
                                              rendered="#{ix.index le 2}" escape="false"/>
                                <h:inputText value="#{b.fullName}" rendered="#{ix.index le 2}"
                                             style="width:40%">
                                    <f:ajax execute="@form" render=":form:contentPanel" immediate="true"/>
                                </h:inputText>
                                <h:outputLabel value="&#160;"/>
                                <h:selectOneMenu value="#{b.title}" rendered="#{ix.index == 0}"
                                                 style="width:20%">
                                    <f:selectItems value="#{incView.getCEO()}"/>
                                    <f:ajax execute="@form"/>
                                </h:selectOneMenu>
                                <h:selectOneMenu value="#{b.title}" rendered="#{ix.index == 1}"
                                                 style="width:20%">
                                    <f:selectItems value="#{incView.getSecretary()}"/>
                                    <f:ajax execute="@form"/>
                                </h:selectOneMenu>
                                <h:selectOneMenu value="#{b.title}" rendered="#{ix.index == 2}"
                                                 style="width:20%">
                                    <f:selectItems value="#{incView.getCFO()}"/>
                                    <f:ajax execute="@form"/>
                                </h:selectOneMenu>
                            </p>
                            <h:panelGroup rendered="#{ix.index > 2}">
                                <p>
                                    <h:outputText value="#{ix.index+1})&#160;" escape="false"
                                                  style="width:40%"/>
                                    <h:inputText value="#{b.fullName}">
                                        <f:ajax execute="@form"/>
                                    </h:inputText>
                                    <h:outputLabel value="&#160;"/>
                                    <h:selectOneMenu value="#{b.title}" style="width:20%">
                                        <f:selectItem ItemValue="99" itemLabel="Other"/>
                                        <f:ajax execute="@form"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="&#160;"/>
                                    <h:inputText value="#{b.title}" style="width:20%">
                                        <f:ajax execute="@form"/>
                                    </h:inputText>
                                </p>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{!incView.isOwner(b.fullName)}">
                                <p>
                                    <h:inputText value="#{b.ident.address.address1}" style="width:61%">
                                        <f:ajax execute="@form"/>
                                    </h:inputText>
                                </p>

                                <p>
                                    <h:inputText value="#{b.ident.address.address2}" style="width:61%">
                                        <f:ajax execute="@form"/>
                                    </h:inputText>
                                </p>

                                <p>
                                    <h:inputText value="#{b.ident.address.city}" style="width:20%">
                                        <f:ajax execute="@form"/>
                                    </h:inputText>
                                    <h:outputLabel value="&#160;"/>
                                    <h:selectOneMenu value="#{b.ident.address.state}" id="state"
                                                     style="width:20%;">
                                        <f:selectItems value="#{dashView.states}"/>
                                        <f:ajax execute="@form"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="&#160;"/>
                                    <h:inputText id="zip" styleClass="zip" value="#{b.ident.address.zip}"
                                                 style="width:20%;">
                                        <f:ajax execute="@form"/>
                                    </h:inputText>
                                </p>
                            </h:panelGroup>
                        </td>
                    </tr>
                </ui:repeat>
            </h:form>
            <tr class="question-row cf">
                <td class="answer" colspan="2">
                    <h:commandButton
                            value="#{incView.quest(2).label}">
                        <f:ajax listener="#{incView.delBoard}" execute="@this"
                                render="contentPanel"/>
                    </h:commandButton>
                    <h:outputText value="&#160;"/>
                    <h:commandButton
                            value="#{incView.quest(3).label}">
                        <f:ajax listener="#{incView.addBoard}" execute="@this"
                                render="contentPanel"/>
                    </h:commandButton>
                </td>
            </tr>
            </tbody>
        </table>
    </ui:define>
</ui:composition>
</html>