<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
        >

<ui:composition template="/templates/incwiz.xhtml">
<ui:define name="content">
<script type="text/javascript">
    jQuery(document).ready(function () {

        $ = jQuery;

        $('input[name$="taxEnd"]').datepicker();

        var form = $('#form');

        form.validate({

            onfocusin: false,
            onkeyup: false,
            onclick: false,

            rules: {
                'input.zip': {
                    required: true,
                    zip: true
                },
                'input.fein': {
                    required: true,
                    fein: true
                },
                'input.dln': {
                    required: true,
                    dln: true
                },
                'input.ssn': {
                    required: true,
                    ssn: true
                }
            },

            messages: {
                'input.zip': {
                    required: "Please enter the ZIP code"
                },
                'input.dln': {
                    required: "Please specify the Driver's License #"
                },
                'input.ssn': {
                    required: "Please specify the Social Security #"
                }
            }
        });

        form.on("submit", function (event) {
            if (!form.valid()) {
                event.preventDefault();
            }
        });

        // MAKE ALL TEXT INPUT FIELDS AUTOSELECT TEXT
        $("input[type=text]").click(function () {
            $(this).select();
        });

    });
</script>
<table class="question-table">
    <tbody>
    <tr class="question-row cf">
        <td class="question">
            <h:outputText value="#{incView.quest(0).label}" escape="false"/>
        </td>
        <td class="answer">
            <h:selectOneMenu value="#{incView.answer.com.taxYear}"
                             style="max-width:100px;">
                <f:selectItems value="#{incModel.getYears()}"/>
                <f:ajax execute="contentPanel"/>
            </h:selectOneMenu>
        </td>
        <td class="answer-2"></td>
    </tr>
    </tbody>
</table>
<table class="question-table">
    <tbody>
    <tr class="question-row cf">
        <td class="question" colspan="3">
            <h:outputText value="#{incView.quest(1).label}" escape="false"/>
        </td>
    </tr>
    <h:panelGroup id="form10">
        <ui:repeat id="rid" value="#{incView.answer.com.owners}" var="d" varStatus="ix">
            <tr class="question-row cf" id="rowId">
                <td class="question" width="5%">
                    <h:outputText value="#{ix.index+1})" escape="false"/>
                </td>
                <td class="answer" id="cellId">
                    <p class="align-left">
                        <h:outputLabel value="&#160;&#160;&#160;&#160;"/>
                        <h:selectBooleanCheckbox value="#{d.individual}">
                            <f:ajax execute="@this" render=":form:contentPanel"/>
                        </h:selectBooleanCheckbox>
                        <h:outputLabel value="&#160;"/>
                        <h:outputText value="#{incView.quest(2).label}" style="width:100%;"/>
                    </p>

                    <p>
                        <h:panelGroup rendered="#{d.individual}">
                            <h:inputText value="#{d.firstName}" style="width: 32%;">
                                <f:ajax execute="@this"/>
                            </h:inputText>
                            <h:outputLabel value="&#160;"/>
                            <h:inputText value="#{d.lastName}" style="width: 32%;">
                                <f:ajax execute="@this"/>
                            </h:inputText>
                            <h:outputLabel value="&#160;"/>
                            <h:inputText value="#{d.percent}" style="width: 32%;">
                                <f:ajax execute="@this"/>
                            </h:inputText>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{!d.individual}">
                            <h:inputText value="#{d.company}" style="width: 66%;">
                                <f:ajax execute="@this"/>
                            </h:inputText>
                            <h:inputText styleClass="fein" value="#{d.fein}" style="width: 32%;">
                                <f:ajax execute="@this"/>
                            </h:inputText>
                        </h:panelGroup>
                    </p>

                    <p>
                        <h:panelGroup rendered="#{d.individual}">
                            <h:inputText id="dln" name="dln" value="#{d.dln}"
                                         styleClass="dln" style="width: 32%;">
                                <f:ajax execute="@this"/>
                            </h:inputText>
                            <h:outputText value="#{incView.quest(3).label}"
                                          style="width: 15%;display:inline-block;text-align:right;"/>
                            <h:outputLabel value="&#160;"/>
                            <h:selectOneMenu value="#{d.issueState}" style="width: 17%;">
                                <f:selectItems value="#{dashView.states}"/>
                                <f:ajax execute="@this"/>
                            </h:selectOneMenu>
                            <h:outputLabel value="&#160;"/>
                            <h:inputText id="ssn" name="ssn" value="#{d.ssn}"
                                         styleClass="ssn" style="width: 32%;">
                                <f:ajax execute="@this"/>
                            </h:inputText>
                        </h:panelGroup>
                    </p>

                    <p>
                        <h:outputText value="#{incView.quest(4).label}"/>
                        <h:outputLabel value="&#160;"/>
                        <h:inputText id="taxEnd" value="#{d.taxEnd}" style="width: 32%;">
                            <f:convertDateTime pattern="MM/dd/yyyy"/>
                            <f:ajax execute="@this"/>
                        </h:inputText>
                    </p>
                </td>
                <td class="answer-2">
                    <p>
                        <h:outputLabel value="&#160;"/>
                    </p>

                    <p>
                        <h:inputText value="#{d.ident.address.address1}" style="width:100%;">
                            <f:ajax execute="@this"/>
                        </h:inputText>
                    </p>

                    <p>
                        <h:inputText value="#{d.ident.address.address2}" style="width:100%;">
                            <f:ajax execute="@this"/>
                        </h:inputText>
                    </p>

                    <p>
                        <h:inputText value="#{d.ident.address.city}" style="width:32%;">
                            <f:ajax execute="@this"/>
                        </h:inputText>
                        <h:outputText value="&#160;"/>
                        <h:selectOneMenu value="#{d.ident.address.state}" style="width:32%">
                            <f:selectItems value="#{dashView.states}"/>
                            <f:ajax execute="@this"/>
                        </h:selectOneMenu>
                        <h:outputText value="&#160;"/>
                        <h:inputText id="zip" name="zip" styleClass="zip"
                                     value="#{d.ident.address.zip}" style="width:32%;">
                            <f:ajax execute="@this"/>
                        </h:inputText>
                    </p>
                </td>
            </tr>
        </ui:repeat>
    </h:panelGroup>
    <tr class="question-row cf">
        <td class="answer" colspan="3">
            <h:commandButton value="#{incView.quest(6).label}">
                <f:ajax listener="#{incView.delShares}"
                        execute="@this" render="contentPanel"/>
            </h:commandButton>
            <h:outputText value="&#160;"/>
            <h:inputText value="#{incView.owners}" style="width:10%;text-align:right;">
                <f:ajax execute="@this"/>
            </h:inputText>
            <h:outputText value="&#160;"/>
            <h:commandButton value="#{incView.quest(7).label}">
                <f:ajax listener="#{incView.addShares}"
                        execute="@this" render="contentPanel"/>
            </h:commandButton>
        </td>
    </tr>
    <tr class="question-row cf">
        <td class="question" colspan="3">
            <h:selectBooleanCheckbox id="pvEIN" value="#{incView.answer.com.hasPrevEIN}">
                <f:ajax execute="@this" render="contentPanel"/>
            </h:selectBooleanCheckbox>
            <h:outputLabel for="pvEIN" value="#{incView.quest(5).label}&#160;&#160;"/>
            <h:inputText value="#{incView.answer.com.prevEIN}" rendered="#{incView.answer.com.hasPrevEIN}">
                <f:ajax execute="@this"/>
            </h:inputText>
        </td>
    </tr>
    </tbody>
</table>
</ui:define>
</ui:composition>
</html>