<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
        >

<ui:composition template="/templates/incwiz.xhtml">
<ui:define name="content">
<script type="text/javascript">
    jQuery(document).ready(function () {

        $ = jQuery;

        $("#form\\:transferDate").datepicker();

        var form = $('#form');

        form.validate({
            onfocusin: false,
            onclick: false,
            onkeyup: false,

            rules: {
                'input.eid': {
                    required: true,
                    fein: true
                },
                'input.phone': {
                    required: true,
                    phone: true
                },
                'input.zip': {
                    required: true,
                    zip: true
                }
            },
            messages: {
                'input.phone': {
                    required: "Please enter the phone #"
                },
                'input.eid': {
                    required: "Please enter the employer ID #"
                },
                'input.zip': {
                    required: "Please enter the ZIP code"
                }
            }
        });

        form.on("submit", function (event) {
            if (!form.valid()) {
                event.preventDefault();
            }
        });

        // MAKE ALL TEXT INPUT FIELDS AUTOSELECT TEXT
        $("input[type=text]").click(function () {
            $(this).select();
        });

    });
</script>
<h2>
    <h:outputText value="#{incView.quest(0).label}" escape="false"/>
</h2>
<table class="question-table">
    <tbody>
    <tr class="question-row cf">
        <td class="question" width="40%">
            <h:outputText value="#{incView.getLabelWithState(1)}" escape="false"/>
            <br/><br/>

            <p class="adder">#{incView.getAdder(incView.EID)}</p>
        </td>
        <td class="answer">
            <h:selectOneMenu value="#{incView.answer.com.helpEID}" style="width:40%">
                <f:selectItem itemValue="1" itemLabel="Yes"/>
                <f:selectItem itemValue="0" itemLabel="No"/>
                <f:ajax execute="@this" render="contentPanel"/>
            </h:selectOneMenu>
        </td>
        <td class="answer-2">
            <a data-toggle="tooltip" data-placement="right" data-animation="true" title="#{incView.quest(1).hint}"
               class="button-blue">?</a>
        </td>
    </tr>
    <tr class="question-row cf">
        <td class="question" colspan="3">
            <h:outputText value="#{incView.quest(2).label}" escape="false"/>
        </td>
    </tr>
    <tr class="question-row cf">
        <td class="question">
            <h:outputText value="#{incView.quest(3).label}" escape="false"/>
            <br/><br/>

            <p class="adder">#{incView.getAdder(incView.PCP)}</p>
        </td>
        <td class="answer">
            <h:selectOneMenu value="#{incView.answer.com.helpPCP}" style="width:40%">
                <f:selectItem itemValue="1" itemLabel="Yes"/>
                <f:selectItem itemValue="0" itemLabel="No"/>
                <f:ajax execute="@this" render="contentPanel"/>
            </h:selectOneMenu>
        </td>
        <td class="answer-2">
            <a data-toggle="tooltip" data-placement="right" data-animation="true" title="#{incView.quest(3).hint}"
               class="button-blue">?</a>
        </td>
    </tr>
    <tr class="question-row cf">
        <td class="question">
            <h:outputText value="#{incView.quest(4).label}" escape="false"/>
        </td>
        <td class="answer">
            <h:selectOneMenu value="#{incView.answer.com.quarter}" style="width:40%">
                <f:selectItems value="#{incView.getItems('getQuarters')}"/>
                <f:ajax execute="contentPanel"/>
            </h:selectOneMenu>
        </td>
        <td class="answer-2"></td>
    </tr>
    <tr class="question-row cf">
        <td class="question">
            <h:outputText value="#{incView.getLabelWithState(5)}" escape="false"/>
        </td>
        <td class="answer">
            <h:selectOneMenu value="#{incView.answer.com.ownerEID}" style="width:40%">
                <f:selectItem itemValue="1" itemLabel="Yes"/>
                <f:selectItem itemValue="0" itemLabel="No"/>
                <f:ajax execute="contentPanel" render="contentPanel"/>
            </h:selectOneMenu>
        </td>
        <td class="answer-2"></td>
    </tr>
    <h:panelGroup rendered="#{incView.answer.com.ownerEID == 1}">
        <tr class="question-row cf">
            <td class="question">
                <h:outputText value="#{incView.getLabelWithState(6)}" escape="false"/>
            </td>
            <td class="answer">
                <p>
                    <h:inputText styleClass="eid" value="#{incView.answer.com.eidNo}">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                </p>

                <p>
                    <h:outputLabel value="&#160;"/>
                </p>

                <p>
                    <h:inputText value="#{incView.answer.com.businessName}">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                </p>
            </td>
            <td class="answer-2">
                <p>
                    <h:inputText value="#{incView.answer.com.businessAddress.address1}" style="width:100%;">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                </p>

                <p>
                    <h:inputText value="#{incView.answer.com.businessAddress.address2}" style="width:100%;">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                </p>

                <p>
                    <h:inputText value="#{incView.answer.com.businessAddress.city}" style="width:32%">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                    <h:outputLabel value="&#160;"/>
                    <h:selectOneMenu value="#{incView.answer.com.businessAddress.state}" style="width:32%">
                        <f:selectItems value="#{dashView.states}"/>
                        <f:ajax execute="contentPanel"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="&#160;"/>
                    <h:inputText styleClass="zip" value="#{incView.answer.com.businessAddress.zip}" style="width:32%">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                </p>
            </td>
        </tr>
    </h:panelGroup>
    <h:panelGroup rendered="#{incView.answer.com.reason == 5}">
        <tr class="question-row cf">
            <td class="question">
                <h:outputText value="#{incView.getLabelWithState(7)}" escape="false"/>
            </td>
            <td class="answer">
                <p>
                    <h:inputText value="#{incView.answer.com.prevOwnerName}" style="width:100%">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                    <h:inputText value="#{incView.answer.com.prevBusinessName}" style="width:100%">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                </p>
            </td>
            <td class="answer-2">
                <p>
                    <h:inputText value="#{incView.answer.com.price}" style="width:100%">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                </p>

                <p>
                    <h:inputText styleClass="fein" value="#{incView.answer.com.prevEID}" style="width:100%">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                </p>

                <p>
                    <h:outputText value="#{incView.quest(8).label}" style="width:49%;"/>
                    <h:outputLabel value="&#160;"/>
                    <h:inputText id="transferDate" value="#{incView.answer.com.transferDate}" style="width:49%;">
                        <f:convertDateTime pattern="MM/dd/yyyy"/>
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                </p>
            </td>
        </tr>
    </h:panelGroup>
    </tbody>
</table>
<h2>
    <h:outputText value="#{incView.quest(9).label}" escape="false"/>
</h2>
<table class="question-table">
    <tbody>
    <tr class="question-row cf">
        <td class="question">
            <h:outputText value="#{incView.quest(10).label}" escape="false"/>
            <br/><br/>

            <p class="adder">#{incView.getAdder(incView.RSN)}</p>
        </td>
        <td class="answer">
            <h:selectOneMenu value="#{incView.answer.com.helpRSN}" style="width:40%;">
                <f:selectItem itemValue="1" itemLabel="Yes"/>
                <f:selectItem itemValue="0" itemLabel="No"/>
                <f:ajax execute="@this" render="contentPanel"/>
            </h:selectOneMenu>
        </td>
        <td class="answer-2">
            <a data-toggle="tooltip" data-placement="right" data-animation="true" title="#{incView.quest(10).hint}"
               class="button-blue">H</a>
        </td>
    </tr>
    <tr class="question-row cf">
        <td class="question" colspan="3">
            <h:outputText value="#{incView.quest(11).label}" escape="false"/>
        </td>
    </tr>
    <tr class="question-row cf">
        <td class="question">
            <h:outputText value="#{incView.quest(12).label}" escape="false"/>
            <br/><br/>

            <p class="adder">#{incView.getAdder(incView.ACC)}</p>
        </td>
        <td class="answer"></td>
        <td class="answer-2">
            <h:selectOneMenu value="#{incView.answer.com.helpACC}">
                <f:selectItem itemValue="1" itemLabel="Yes have a Client Advocate contact me "/>
                <f:selectItem itemValue="0" itemLabel="No"/>
                <f:ajax execute="@this" render="contentPanel"/>
            </h:selectOneMenu>
        </td>
    </tr>
    <tr class="question-row cf">
        <td class="question">
            <h:outputText value="#{incView.getLabelWithState(13)}" escape="false"/>
        </td>
        <td class="answer" colspan="2">
            <ui:repeat value="#{incView.answer.com.personal}" var="x" varStatus="ix">
                <h:panelGroup>
                    <p>
                        <h:outputLabel value="#{ix.index+1})&#160;&#160;"/>
                        <h:inputText value="#{x.firstName}" style="width:31%;">
                            <f:ajax execute="@this"/>
                        </h:inputText>
                        <h:outputLabel value="&#160;"/>
                        <h:inputText value="#{x.lastName}" style="width:31%;">
                            <f:ajax execute="@this"/>
                        </h:inputText>
                        <h:outputLabel value="&#160;"/>
                        <h:inputText styleClass="phone" value="#{x.ident.phone}" style="width:31%;">
                            <f:ajax execute="@this"/>
                        </h:inputText>
                    </p>
                </h:panelGroup>
            </ui:repeat>
        </td>
    </tr>
    <tr class="question-row cf">
        <td class="question">
            <h:outputText value="#{incView.getLabelWithState(14)}" escape="false"/>
        </td>
        <td class="answer" colspan="2">
            <ui:repeat value="#{incView.answer.com.suppliers}" var="x" varStatus="ix">
                <h:panelGroup>
                    <p>
                        <h:outputLabel value="#{ix.index+1})&#160;&#160;"/>
                        <h:inputText value="#{x.firstName}" style="width:31%;">
                            <f:ajax execute="@this"/>
                        </h:inputText>
                        <h:outputLabel value="&#160;"/>
                        <h:inputText value="#{x.lastName}" style="width:31%;">
                            <f:ajax execute="@this"/>
                        </h:inputText>
                        <h:outputLabel value="&#160;"/>
                        <h:inputText styleClass="phone" value="#{x.ident.phone}" style="width:31%;">
                            <f:ajax execute="@this"/>
                        </h:inputText>
                    </p>
                </h:panelGroup>
            </ui:repeat>
        </td>
    </tr>
    <tr class="question-row cf">
        <td class="question">
            <h:outputText value="#{incView.quest(15).label}" escape="false"/>
        </td>
        <td class="answer">
            <p>
                <h:inputText value="#{incView.answer.com.bankName}" style="width:100%;">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
            </p>

            <p>
                <h:inputText value="#{incView.answer.com.bankContact}" style="width:100%;">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
            </p>

            <p>
                <h:inputText styleClass="phone" value="#{incView.answer.com.bankAddress.phone}" style="width:100%;">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
            </p>
        </td>
        <td class="answer-2">
            <p>
                <h:inputText value="#{incView.answer.com.bankAddress.address.address1}" style="width:100%;">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
            </p>

            <p>
                <h:inputText value="#{incView.answer.com.bankAddress.address.address2}" style="width:100%;">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
            </p>

            <p>
                <h:inputText value="#{incView.answer.com.bankAddress.address.city}" style="width:32%">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
                <h:outputLabel value="&#160;"/>
                <h:selectOneMenu value="#{incView.answer.com.bankAddress.address.state}" style="width:32%">
                    <f:selectItems value="#{dashView.states}"/>
                    <f:ajax execute="contentPanel"/>
                </h:selectOneMenu>
                <h:outputLabel value="&#160;"/>
                <h:inputText styleClass="zip" value="#{incView.answer.com.bankAddress.address.zip}" style="width:32%">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
            </p>
        </td>
    </tr>
    <tr class="question-row cf">
        <td class="question">
            <h:outputText value="#{incView.quest(16).label}" escape="false"/>
            <h:panelGroup rendered="#{incView.answer.com.acceptCC == 1}">
                <p>
                    <h:outputText value="#{incView.quest(17).label}" escape="false"/>
                </p>
            </h:panelGroup>
        </td>
        <td class="answer">
            <h:selectOneMenu value="#{incView.answer.com.acceptCC}" style="width:40%">
                <f:selectItem itemValue="0" itemLabel="No"/>
                <f:selectItem itemValue="1" itemLabel="Yes"/>
                <f:ajax execute="contentPanel" render="contentPanel"/>
            </h:selectOneMenu>
            <h:panelGroup rendered="#{incView.answer.com.acceptCC == 1}">
                <p>
                    <h:inputText value="#{incView.answer.com.processor}" style="width:100%">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                </p>
            </h:panelGroup>
        </td>
        <td class="answer-2">
            <h:panelGroup rendered="#{incView.answer.com.acceptCC == 1}">
                <h:inputText value="#{incView.answer.com.account}" style="width:100%">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
            </h:panelGroup>
        </td>
    </tr>
    <tr class="question-row cf">
        <td class="question">
            <h:outputText value="#{incView.getLabelWithState(18)}" escape="false"/>
        </td>
        <td class="answer align-right" colspan="2">
            <p>
                <h:inputText value="#{incView.naicsText}" style="width: 50%;">
                    <f:ajax render="form:naics" event="keyup"
                            listener="#{incView.naicsListener}"/>
                </h:inputText>
                <br/>
            </p>
            <h:selectOneListbox id="naics" value="#{incView.answer.com.naics}"
                                title="#{q.hint}" size="4" style="width: 50%;">
                <f:selectItems value="#{incView.naics}">
                    <f:param name="text" value="#{incView.naicsText}"/>
                </f:selectItems>
                <f:ajax execute="contentPanel"/>
            </h:selectOneListbox>
        </td>
    </tr>
    </tbody>
</table>
</ui:define>
</ui:composition>
</html>