<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/templates/incwiz.xhtml">
<ui:define name="content">
<script type="text/javascript">
    jQuery(document).ready(function () {

        $ = jQuery;

        $("#form\\:startPay").datepicker();

        var form = $('#form');

        form.validate({

            onfocusin: false,
            onkeyup: false,
            onclick: false,

            rules: {
                'form:mail': {
                    required: true,
                    email: true
                },
                'form:phone': {
                    required: true,
                    phone: true
                },
                'form:fax': {
                    required: true,
                    fax: true
                },
                'form:zip': {
                    required: true,
                    zip: true
                },
                'form:tradeName': {
                    required: true,
                    notEqual: "#{incView.defaultTradeName}"
                },
                'form:nbHired': {
                    required: true,
                    number: true,
                    max: 100000
                },
                'form:ssn': {
                    required: true,
                    ssn: true
                }
            },

            messages: {
                'form:mail': {
                    required: "Please enter the e-mail address"
                },
                'form:phone': {
                    required: "Please enter the phone #"
                },
                'form:fax': {
                    required: "Please enter the fax #"
                },
                'form:zip': {
                    required: "Please enter the ZIP code"
                },
                'form:tradeName': {
                    required: "Please specify the agent name",
                    notEqual: "Please specify the agent name"
                },
                'form:nbHired': {
                    required: "Please specify the number of employees",
                    number: "Please specify the number of employees",
                    max: "Youre business can have a maximum of 100,000 employees."
                },
                'form:ssn': {
                    required: "Please specify the Social Security #",
                    number: "Social Security # must be a 9 digits number",
                    rangelength: "Social Security # must be a 9 digits number"
                }
            }

        });

        form.on("submit", function (event) {
            if (!form.valid()) {
                event.preventDefault();
            }
        });

        // MAKE ALL TEXT INPUT FIELDS AUTOSELECT TEXT
        $("input[type=text]").click(function () {
            $(this).select();
        });

    });
</script>
<table class="question-table">
<tbody>
<tr class="question-row cf">
    <td class="question" width="40%">
        <h:outputText value="#{incView.quest(0).label}" escape="false"/>
    </td>
    <td class="answer">
        <p>
            <h:selectOneMenu value="#{incView.answer.com.trade}" id="trade" style="width:48%">
                <f:selectItem itemValue="1" itemLabel="Yes"/>
                <f:selectItem itemValue="0" itemLabel="No"/>
                <f:ajax execute="contentPanel" render="contentPanel"/>
            </h:selectOneMenu>
        </p>

        <p>
            <h:panelGroup rendered="#{incView.answer.com.trade == 1}">
                <h:inputText id="tradeName" value="#{incView.answer.com.tradeName}" style="width:48%">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
            </h:panelGroup>
        </p>
    </td>
    <td class="answer-2">
        <a data-toggle="tooltip" data-placement="right" data-animation="true" title="#{incView.quest(0).hint}"
           class="button-blue">?</a>
    </td>
</tr>
<tr class="question-row cf">
    <td class="question">
        <h:outputText value="#{incView.quest(1).label}" escape="false"/>
    </td>
    <td class="answer">
        <p>
            <h:inputText value="#{incView.answer.com.board[0].firstName}" style="width:48%">
                <f:ajax execute="contentPanel"/>
            </h:inputText>
            <h:outputLabel value="&#160;"/>
            <h:inputText value="#{incView.answer.com.board[0].lastName}" style="width:48%">
                <f:ajax execute="contentPanel"/>
            </h:inputText>
        </p>

        <p>
            <h:inputText id="ssn" value="#{incView.answer.com.board[0].ssn}" style="width:48%">
                <f:ajax execute="contentPanel"/>
            </h:inputText>
            <h:outputLabel value="&#160;"/>
            <h:inputText id="mail" value="#{incView.answer.com.board[0].ident.mail}" style="width:48%">
                <f:ajax execute="contentPanel"/>
            </h:inputText>
        </p>

        <p>
            <h:inputText id="phone" value="#{incView.answer.com.board[0].ident.phone}" style="width:48%">
                <f:ajax execute="contentPanel"/>
            </h:inputText>
            <h:outputLabel value="&#160;"/>
            <h:inputText id="fax" value="#{incView.answer.com.board[0].ident.fax}" style="width:48%">
                <f:ajax execute="contentPanel"/>
            </h:inputText>
        </p>
    </td>
    <td class="answer-2">
        <p>
            <h:inputText value="#{incView.answer.com.board[0].ident.address.address1}" style="width:100%;">
                <f:ajax execute="contentPanel"/>
            </h:inputText>
        </p>

        <p>
            <h:inputText value="#{incView.answer.com.board[0].ident.address.address2}" style="width:100%;">
                <f:ajax execute="contentPanel"/>
            </h:inputText>
        </p>

        <p>
            <h:inputText value="#{incView.answer.com.board[0].ident.address.city}" style="width:42%;">
                <f:ajax execute="contentPanel"/>
            </h:inputText>
            <h:outputLabel value="&#160;"/>
            <h:selectOneMenu value="#{incView.answer.com.board[0].ident.address.state}" style="width:22%;">
                <f:selectItems value="#{dashView.states}"/>
                <f:ajax execute="contentPanel"/>
            </h:selectOneMenu>
            <h:outputLabel value="&#160;"/>
            <h:inputText id="zip" value="#{incView.answer.com.board[0].ident.address.zip}" style="width:32%;">
                <f:ajax execute="contentPanel"/>
            </h:inputText>
        </p>
    </td>
</tr>
<tr class="question-row cf">
    <td class="question">
        <h:outputText value="#{incView.quest(2).label}" escape="false"/>
    </td>
    <td class="answer">
        <h:selectOneMenu value="#{incView.answer.com.closeMonth}" style="width:48%">
            <f:selectItems value="#{incModel.monthLong}"/>
            <f:ajax execute="contentPanel"/>
        </h:selectOneMenu>
    </td>
    <td class="answer-2"></td>
</tr>
<tr class="question-row cf">
    <td class="question">
        <h:outputText value="#{incView.quest(3).label}" escape="false"/>
    </td>
    <td class="answer align-right">
        <h:inputText id="nbHired" value="#{incView.answer.com.nbHired}" style="width:48%">
            <f:ajax execute="contentPanel" render="contentPanel"/>
        </h:inputText>
    </td>
    <td class="answer-2"></td>
</tr>
<h:panelGroup rendered="#{incView.answer.com.nbHired gt 0 and incView.answer.com.nbHired lt 11}">
    <tr class="question-row cf">
        <td class="question">
            <h:outputText value="#{incView.quest(4).label}" escape="false"/>
        </td>
        <td class="answer">
            <h:selectOneMenu value="#{incView.answer.com.form}" style="width:48%;">
                <f:selectItem itemValue="1" itemLabel="Form 941"/>
                <f:selectItem itemValue="2" itemLabel="Form 944"/>
                <f:ajax execute="contentPanel"/>
            </h:selectOneMenu>
        </td>
        <td class="answer-2">
            <a data-toggle="tooltip" data-placement="right" data-animation="true" title="#{incView.quest(4).hint}"
               class="button-blue">H</a>
        </td>
    </tr>
    <tr class="question-row cf">
        <td class="question-message" colspan="3">
            <h:outputText value="#{incView.quest(5).label}" escape="false"/>
        </td>
    </tr>
    <tr class="question-row cf">
        <td class="question">
            <h:outputText value="#{incView.quest(6).label}" escape="false"/>
            <br/><br/>

            <p class="adder">#{incView.getAdder(incView.PCP)}</p>
        </td>
        <td class="answer">
            <h:selectOneMenu value="#{incView.answer.com.helpPCP}" style="width:48%;">
                <f:selectItem itemValue="1" itemLabel="Yes"/>
                <f:selectItem itemValue="0" itemLabel="No"/>
                <f:ajax execute="@this" render="contentPanel"/>
            </h:selectOneMenu>
        </td>
        <td class="answer-2">
            <a data-toggle="tooltip" data-placement="right" data-animation="true" title="#{incView.quest(6).hint}"
               class="button-blue">?</a>
        </td>
    </tr>
</h:panelGroup>
<h:panelGroup rendered="#{incView.answer.com.nbHired > 0}">
    <tr class="question-row cf">
        <td class="question">
            <h:outputText value="#{incView.quest(7).label}" escape="false"/>
        </td>
        <td class="answer">
            <h:inputText id="startPay" value="#{incView.answer.com.startPay}" style="width:48%;">
                <f:convertDateTime pattern="MM/dd/yyyy"/>
                <f:ajax execute="contentPanel"/>
            </h:inputText>
        </td>
        <td class="answer-2"></td>
    </tr>
</h:panelGroup>
<tr class="question-row cf">
    <td class="question">
        <h:outputText value="#{incView.quest(8).label}" escape="false"/>
    </td>
    <td class="answer">
        <p>
            <h:selectOneMenu value="#{incView.answer.com.ss4}" style="width:100%;">
                <f:selectItems value="#{incView.ss4}"/>
                <f:ajax execute="contentPanel"/>
            </h:selectOneMenu>
        </p>

        <p>
            <h:inputText value="#{incView.answer.com.primDesc}" style="width:100%;">
                <f:ajax execute="contentPanel"/>
            </h:inputText>
        </p>
    </td>
    <td class="answer-2"></td>
</tr>
<h:panelGroup rendered="#{incView.answer.com.helpSUB == 0}">
    <tr class="question-row cf">
        <td class="question">
            <h:outputText value="#{incView.quest(9).label}" escape="false"/>
            <br/><br/>

            <p class="adder">#{incView.getAdder(incView.SUB)}</p>
        </td>
        <td class="answer-2 align-right" colspan="2">
            <h:selectOneMenu value="#{incView.answer.com.helpSUB}">
                <f:selectItem itemValue="1" itemLabel="Yes, please prepare the form and submit on my behalf"/>
                <f:selectItem itemValue="2" itemLabel="Yes, prepare the forms and I will submit"/>
                <f:selectItem itemValue="0" itemLabel="No, I will handle this later."/>
                <f:ajax execute="@this" render="contentPanel"/>
            </h:selectOneMenu>
        </td>
    </tr>
</h:panelGroup>
<h:panelGroup rendered="#{incView.answer.com.helpEID == 0}">
    <tr class="question-row cf">
        <td class="question">
            <h:outputText value="#{incView.quest(10).label}" escape="false"/>
            <br/><br/>

            <p class="adder">#{incView.getAdder(incView.EID)}</p>
        </td>
        <td class="answer-2 align-right" colspan="2">
            <h:selectOneMenu value="#{incView.answer.com.helpEID}">
                <f:selectItem itemValue="1" itemLabel="Yes, prepare the forms and I will submit "/>
                <f:selectItem itemValue="0" itemLabel="No"/>
                <f:ajax execute="@this" render="contentPanel"/>
            </h:selectOneMenu>
        </td>
    </tr>
</h:panelGroup>
</tbody>
</table>
</ui:define>
</ui:composition>
</html>