<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
        >

<ui:composition template="/templates/incwiz.xhtml">
    <ui:define name="content">

        <script type="text/javascript">
            jQuery(document).ready(function () {

                $ = jQuery;

                $("#form\\:CloseDay").datepicker();
                $("#form\\:StartDay").datepicker();

                var form = $('#form');

                form.validate({

                    rules: {
                        'form:nbHired': {
                            required: true,
                            number: true,
                            min: 0,
                            max: 1000
                        }
                    },

                    messages: {
                        'form:nbHired': {
                            required: "Please specify the number of employees.",
                            min: "Please specify the number of employees.",
                            max: "Your business can have a maximum of 1000 employees in the first year of operation."
                        }
                    }

                });

                form.on("submit", function (event) {
                    if (!form.valid()) {
                        event.preventDefault();
                    }
                });

            });
        </script>

        <table class="question-table">
            <tbody>
            <tr class="question-row cf">
                <td class="question question-message" colspan="3">
                    <p style="margin-top:1em;">
                        <b>As a corporation am I required to have annual shareholder meetings and keep minutes at those meetings so that they are available to all shareholders?</b>
                    </p>

                    <p>Yes, in order to preserve your Corporation's liability protection, tax advantages as well as the other benefits offered to corporations it is necessary to do so. We can make this entire process a snap. We will send you a reminders and once you hold your meeting simply scan the minutes and we will store them for you and your fellow shareholders - available at the tip of your fingers around the clock.</p>
                </td>
            </tr>
            <tr class="question-row cf">
                <td class="question adder">
                    #{incView.quest(0).label}
                    <br/><br/>

                    <p class="adder">#{incView.getAdder(incView.BMM)}</p>
                </td>
                <td class="answer">
                </td>
                <td class="answer-2 align-right">
                    <h:selectOneMenu value="#{incView.answer.com.helpBMM}" id="helpMinutes" style="width:100%;">
                        <f:selectItem itemValue="1" itemLabel="Yes, help me with this anually"/>
                        <f:selectItem itemValue="0" itemLabel="No"/>
                        <f:ajax execute="@this" render="contentPanel"/>
                    </h:selectOneMenu>
                </td>
            </tr>
            <tr class="question-row cf">
                <td class="question adder">
                    <h:outputText value="#{incView.quest(1).label}" escape="false"/>
                    <br/><br/>

                    <p class="adder">#{incView.getAdder(incView.SUB)}</p>
                </td>
                <td class="answer">
                </td>
                <td class="answer-2">
                    <h:selectOneMenu value="#{incView.answer.com.helpSUB}">
                        <f:selectItem itemValue="1" itemLabel="Yes, please prepare the form and submit on my behalf"/>
                        <f:selectItem itemValue="2" itemLabel="Yes, prepare the forms and I will submit"/>
                        <f:selectItem itemValue="0" itemLabel="No, I will handle this later."/>
                        <f:ajax execute="@this" render="contentPanel"/>
                    </h:selectOneMenu>
                </td>
            </tr>
            </tbody>
        </table>
    </ui:define>
</ui:composition>
</html>