<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
        >

<ui:composition template="/templates/incwiz.xhtml">
    <ui:define name="content">

        <script type="text/javascript">
            jQuery(document).ready(function () {

                $ = jQuery;
                var form = $('#form');

                form.validate({
                    onfocusin: false,
                    onclick: false,
                    onkeyup: false,

                    rules: {
                        'form:agName': {
                            required: true,
                            notEqual: "#{incView.defaultAgentName}"
                        },
                        'form:agRegistered': {
                            required: true,
                            notEqual: -1
                        },
                        'form:address1': {
                            required: true,
                            notEqual: "#{incView.defaultAddress1}"
                        },
                        'form:zip': {
                            required: true,
                            zip: true
                        }
                    },

                    messages: {
                        'form:agName': {
                            required: "Please write your agent's name",
                            notEqual: "Please write your agent's name"
                        },
                        'form:agRegistered': {
                            required: "Please select an option",
                            notEqual: "Please select an option"
                        },
                        'form:address1': {
                        	required: "Please specify the Agent's address.",
                        	notEqual: "Please specify the Agent's address."
                        },
                        'form:zip': {
                            required: "Please enter the ZIP code"
                        }
                    }

                });

                form.on("submit", function (event) {
                    if (!form.valid()) {
                        event.preventDefault();
                    }
                });

                // MAKE ALL TEXT INPUT FIELDS AUTOSELECT TEXT
                $("input[type=text]").click(function () {
                    $(this).select();
                });

            });
        </script>

        <table class="question-table">
            <tbody>
            <tr class="question-row cf">
                <td class="question question-message" colspan="3">
                    <p style="margin-top: 1em;"><b>What is an "agent for service of process" and who can be
                        such an agent?</b></p>

                    <p>An agent for service of process is an individual who
                        resides in California, or a corporation, designated to accept
                        service of process (court papers) if the business entity is
                        sued.</p>

                    <p style="margin-top: 1em;"><b>Can my business entity be its own agent for service of
                        process?</b></p>

                    <p>A business entity cannot act as its own agent for service
                        of process and no corporation may file a certificate pursuant to
                        California Corporations Code section 1505 unless the corporation
                        is currently authorized to engage in business in California and
                        is in good standing on the records of the Secretary of State.</p>
                </td>
            </tr>
            <tr class="question-row cf">
                <td class="question adder" width="52%">
                    <h:outputText value="#{incView.quest(0).label}" escape="false"/>
                    <br/><br/>

                    <p class="adder">#{incView.getAdder(incView.ASP)}</p>
                </td>
                <td class="answer">
                    <h:selectOneMenu value="#{incView.answer.com.helpASP}" id="agent" style="width: 80%;">
                        <f:selectItem itemValue="1" itemLabel="Yes"/>
                        <f:selectItem itemValue="0" itemLabel="No"/>
                        <f:ajax execute="@this" render="contentPanel"/>
                    </h:selectOneMenu>
                </td>
                <td class="answer-2">
                    <a data-toggle="tooltip" data-placement="right" data-animation="true"
                       title="#{incView.quest(0).hint}" class="button-blue">H</a>
                </td>
            </tr>
            <h:panelGroup id="agentName" rendered="#{incView.answer.com.helpASP == 0}">
                <tr class="question-row cf">
                    <td class="question">#{incView.quest(1).label}</td>
                    <td class="answer">
                        <h:inputText value="#{incView.answer.com.agName}" id="agName" style="width: 80%;">
                            <f:ajax execute="contentPanel"/>
                        </h:inputText>
                    </td>
                    <td class="answer-2"></td>
                </tr>
                <tr class="question-row cf">
                    <td class="question">#{incView.quest(2).label}</td>
                    <td class="answer">
                        <h:selectOneMenu value="#{incView.answer.com.agRegistered}" id="agRegistered"
                                         style="width: 80%;">
                            <f:selectItem itemValue="-1" itemLabel="Select an option"/>
                            <f:selectItem itemValue="0" itemLabel="No"/>
                            <f:selectItem itemValue="1" itemLabel="Yes"/>
                            <f:ajax execute="contentPanel" render="contentPanel"/>
                        </h:selectOneMenu>
                    </td>
                    <td class="answer-2">
                        <a data-toggle="tooltip" data-placement="right" data-animation="true"
                           title="#{incView.quest(2).hint}" class="button-blue">H</a>
                    </td>
                </tr>
                <h:panelGroup rendered="#{incView.answer.com.agRegistered == 0}">
                    <tr class="question-row cf">
                        <td class="question">#{incView.quest(3).label}</td>
                        <td class="answer">
                        </td>
                        <td class="answer-2">
                            <p>
                                <h:inputText value="#{incView.answer.com.agAddress.address1}"
                                             style="width:100%" id="address1">
                                    <f:ajax execute="contentPanel"/>
                                </h:inputText>
                            </p>

                            <p>
                                <h:inputText value="#{incView.answer.com.agAddress.address2}"
                                             style="width:100%" id="address2">
                                    <f:ajax execute="contentPanel"/>
                                </h:inputText>
                            </p>

                            <p>
                                <h:inputText value="#{incView.answer.com.agAddress.city}"
                                             id="city" style="width: 42%;">
                                    <f:ajax execute="contentPanel"/>
                                </h:inputText>
                                <h:outputLabel value="&#160;"/>
                                <h:selectOneMenu id="state" value="#{incView.answer.com.agAddress.state}"
                                                 style="width:22%">
                                    <f:selectItems value="#{dashView.states}"/>
                                    <f:ajax execute="contentPanel"/>
                                </h:selectOneMenu>
                                <h:outputLabel value="&#160;"/>
                                <h:inputText value="#{incView.answer.com.agAddress.zip}"
                                             id="zip" style="width: 32%;">
                                    <f:ajax execute="contentPanel"/>
                                </h:inputText>
                            </p>
                        </td>
                    </tr>
                </h:panelGroup>
            </h:panelGroup>
            <tr class="question-row cf">
                <td class="question adder">
                    <h:outputText value="#{incView.quest(4).label}" escape="false"/>
                    <br/><br/>

                    <p class="adder">#{incView.getAdder(incView.SUB)}</p>
                </td>
                <td class="answer-2 align-right" colspan="2">
                    <h:selectOneMenu value="#{incView.answer.com.helpSUB}" style="width:91%">
                        <f:selectItem itemValue="1" itemLabel="Yes, please prepare the form and submit on my behalf"/>
                        <f:selectItem itemValue="2" itemLabel="Yes, prepare the forms and I will submit"/>
                        <f:selectItem itemValue="0" itemLabel="No, I will handle this later."/>
                        <f:ajax execute="@this" render="contentPanel"/>
                    </h:selectOneMenu>
                </td>
            </tr>
            </tbody>
        </table>
    </ui:define>
</ui:composition>
</html>