<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
        >

<ui:composition template="/templates/incwiz.xhtml">
<ui:define name="content">

<script type="text/javascript">

    jQuery(document).ready(function () {

        $ = jQuery;

        var form = $('#form');

        form.validate({

            onfocusin: false,
            onclick: false,
            onkeyup: false,

            rules: {
                'form:managed': {
                    required: true,
                    notEqual: 0
                },
                'form:nbOwners': {
                    required: true,
                    number: true,
                    min: 1
                },
                'form:name': {
                    required: true,
                    minlength: 3,
                    notEqual: '#{incView.defaultComName1}'
                },
                'form:name2': {
                    required: true,
                    minlength: 3,
                    notEqual: '#{incView.defaultComName2}'
                },
                'form:name3': {
                    required: true,
                    minlength: 3,
                    notEqual: '#{incView.defaultComName3}'
                },
                'form:address1': {
                	required: true,
                	notEqual: "#{incView.defaultAddress1}"
                },
                'form:mail1': {
                	required: true,
                	notEqual: "#{incView.defaultAddress1}"
                },
                'form:zip1': {
                    required: true,
                    zip: true
                },
                'form:zip2': {
                    required: true,
                    zip: true
                },
                'form:tradeName': {
                    required: true,
                    minlength: 3
                }
            },
            messages: {
            	'form:address1': {
                	required: "Please specify the initial street address of the LLC",
                	notEqual: "Please specify the initial street address of the LLC."
                },
                'form:mail1': {
                	required: "Please specify the mailing address for your Company.",
                	notEqual: "Please specify the mailing address for your Company."
                },
                'form:zip1': {
                    required: "Please enter the ZIP code"
                },
                'form:zip2': {
                    required: "Please enter the ZIP code"
                },
                'form:managed': {
                    required: "Please specify how your LLC will be managed.",
                    notEqual: "Please specify how your LLC will be managed."
                },
                'form:nbOwners': {
                    required: "Please specify how many owners will your LCC have",
                    number: "Please specify how many owners will your LCC have",
                    min: "You must have at least 1 owner"
                },
                'form:name': {
                    required: "Please specify the name of your business.",
                    notEqual: "Please specify the name of your business."
                },
                'form:name2': {
                    required: "Please specify the name of your business.",
                    notEqual: "Please specify the name of your business."
                },
                'form:name3': {
                    required: "Please specify the name of your business.",
                    notEqual: "Please specify the name of your business."
                }
            }

        });

        form.on("submit", function (event) {
            if (!form.valid()) {
                event.preventDefault();
            }
        });

        // MAKE ALL TEXT INPUT FIELDS AUTOSELECT TEXT
        $("input[type=text]").click(function () {
            $(this).select();
        });

    });
</script>

<table class="question-table">
    <tbody>
    <tr class="question-row cf">
        <td class="question" width="30%">
            <h:outputText value="#{incView.quest(0).label}" escape="false"/>
        </td>
        <td class="answer">
            <h:selectOneMenu value="#{incView.answer.com.managed}" title="#{incView.quest(0).hint}" id="managed"
                             style="width:60%">
                <f:selectItems value="#{incView.getItems('getManagedLLC')}"/>
                <f:ajax execute="contentPanel" render="contentPanel"/>
            </h:selectOneMenu>
        </td>
        <td class="answer-2"></td>
    </tr>
    <h:panelGroup rendered="#{incView.answer.com.managed != 0}">
        <tr class="question-row cf">
            <td class="question">
                <h:outputText value="#{incView.quest(1).label}" escape="false"/>
            </td>
            <td class="answer">
                <h:inputText value="#{incView.answer.com.nbOwners}" maxlength="3" id="nbOwners" style="width:60%">
                    <f:ajax execute="contentPanel" listener="#{incView.adjustNbOwners}"/>
                </h:inputText>
            </td>
            <td class="answer-2"></td>
        </tr>
    </h:panelGroup>
    </tbody>
</table>
<h2>Name and Address info</h2>
<table class="question-table">
    <tbody>
    <tr class="question-row cf">
        <td class="question"><h:outputText value="#{incView.quest(2).label}" escape="false"/></td>
        <td class="answer"></td>
        <td class="answer-2">
            <p>
                <h:inputText value="#{incView.answer.com.name1}" id="name"
                             style="width:100%;">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
            </p>

            <p>
                <h:inputText value="#{incView.answer.com.name2}" id="name2"
                             style="width:100%;">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
            </p>

            <p>
                <h:inputText value="#{incView.answer.com.name3}" id="name3"
                             style="width:100%;">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
            </p>
        </td>
    </tr>
    <tr class="question-row cf">
        <td class="question">
            <h:outputText value="#{incView.quest(3).label}" escape="false"/></td>
        <td class="answer"></td>
        <td class="answer-2">
            <p>
                <h:inputText value="#{incView.principal.address.address1}"
                             style="width:100%" id="address1">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
            </p>

            <p>
                <h:inputText value="#{incView.principal.address.address2}"
                             style="width:100%" id="address2">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
            </p>

            <p>
                <h:inputText value="#{incView.principal.address.city}" id="city1"
                             style="width:42%">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
                <h:outputLabel value="&#160;"/>
                <h:selectOneMenu id="state1" value="#{incView.principal.address.state}" style="width:22%">
                    <f:selectItems value="#{dashView.states}"/>
                    <f:ajax execute="contentPanel"/>
                </h:selectOneMenu>
                <h:outputLabel value="&#160;"/>
                <h:inputText value="#{incView.principal.address.zip}" id="zip1"
                             style="width:32%">
                    <f:ajax execute="contentPanel"/>
                </h:inputText>
            </p>
        </td>
    </tr>
    <tr class="question-row cf">
        <td class="question"><h:outputText value="#{incView.quest(4).label}" escape="false"/></td>
        <td class="answer"></td>
        <td class="answer-2">
            <p>
                <h:selectBooleanCheckbox value="#{incView.answer.com.mailDiff}" id="mailDiff">
                    <f:ajax execute="contentPanel" render="contentPanel"/>
                </h:selectBooleanCheckbox>
                <h:outputLabel value="#{incView.quest(5).label}" for="form:mailDiff"/>
            </p>
            <h:panelGroup id="mailAddr" rendered="#{!incView.answer.com.mailDiff}">
                <p>
                    <h:inputText value="#{incView.mailing.address.address1}"
                                 style="width:100%" id="mail1">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                </p>

                <p>
                    <h:inputText value="#{incView.mailing.address.address2}"
                                 style="width:100%" id="mail2">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                </p>

                <p>
                    <h:inputText value="#{incView.mailing.address.city}" id="city2"
                                 style="width:42%">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                    <h:outputLabel value="&#160;"/>
                    <h:selectOneMenu id="state2" value="#{incView.mailing.address.state}" style="width:22%">
                        <f:selectItems value="#{dashView.states}"/>
                        <f:ajax execute="contentPanel"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="&#160;"/>
                    <h:inputText value="#{incView.mailing.address.zip}" id="zip2"
                                 style="width:32%">
                        <f:ajax execute="contentPanel"/>
                    </h:inputText>
                </p>
            </h:panelGroup>
        </td>
    </tr>
    </tbody>
</table>
</ui:define>
</ui:composition>
</html>