<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
        >

<ui:composition template="/templates/incwiz.xhtml">
    <ui:define name="content">
        <table class="question-table">
            <tbody>
            <tr class="question-row cf">
                <td class="question">
                    <h:outputText value="#{incView.getLabelWithType(0)}" style="font-style:italic;"/>
                    <br/>
                    <h:selectOneMenu value="#{incView.answer.com.helpAOF}">
                        <f:selectItem itemValue="1"
                                      itemLabel="Yes / Prepare the forms for me, send me detailed instructions so that I can submit them to the government"/>
                        <f:selectItem itemValue="0" itemLabel="No"/>
                        <f:ajax execute="@this" listener="#{incView.adjustTotal}" render="total"/>
                    </h:selectOneMenu>
                </td>
                <td class="answer">
                    <h:outputText value="#{incView.quest(0).defaultValue}" style="float:right;"/>
                </td>
            </tr>
            <tr class="question-row cf">
                <td class="question">
                    <h:outputText value="#{incView.quest(1).label}"/>
                    <br/>
                    <h:selectOneMenu value="#{incView.answer.com.helpEIN}">
                        <f:selectItem itemValue="1"
                                      itemLabel="Yes / Prepare the forms for me, send me detailed instructions so that I can submit them to the government"/>
                        <f:selectItem itemValue="0" itemLabel="No"/>
                        <f:ajax execute="@this" listener="#{incView.adjustTotal}" render="total"/>
                    </h:selectOneMenu>
                </td>
                <td class="answer">
                    <h:outputText value="#{incView.quest(1).defaultValue}" style="float:right;"/>
                </td>
            </tr>
            <tr class="question-row cf">
                <td class="question">
                    <h:outputText value="#{incView.quest(2).label}"/>
                    <br/>
                    <h:selectOneMenu value="#{incView.answer.com.helpSOI}">
                        <f:selectItem itemValue="1"
                                      itemLabel="Yes / Prepare the forms for me, send me detailed instructions so that I can submit them to the government"/>
                        <f:selectItem itemValue="0" itemLabel="No"/>
                        <f:ajax execute="@this" listener="#{incView.adjustTotal}" render="total"/>
                    </h:selectOneMenu>
                </td>
                <td class="answer">
                    <h:outputText value="#{incView.quest(2).defaultValue}" style="float:right;"/>
                </td>
            </tr>
            <tr class="question-row cf">
                <td class="question">
                    <h:outputText value="#{incView.quest(3).label}"/>
                    <br/>
                    <h:selectOneMenu value="#{incView.answer.com.helpEID}">
                        <f:selectItem itemValue="1"
                                      itemLabel="Yes / Prepare the forms for me, send me detailed instructions so that I can submit them to the government"/>
                        <f:selectItem itemValue="0" itemLabel="No"/>
                        <f:ajax execute="@this" listener="#{incView.adjustTotal}" render="total"/>
                    </h:selectOneMenu>
                </td>
                <td class="answer">
                    <h:outputText value="#{incView.quest(3).defaultValue}" style="float:right;"/>
                </td>
            </tr>
            <tr class="question-row cf">
                <td class="question">
                    <h:outputText value="#{incView.quest(4).label}"/>
                    <br/>
                    <h:selectOneMenu value="#{incView.answer.com.helpRSN}">
                        <f:selectItem itemValue="1"
                                      itemLabel="Yes / Prepare the forms handle the application for me"/>
                        <f:selectItem itemValue="0" itemLabel="No"/>
                        <f:ajax execute="@this" listener="#{incView.adjustTotal}" render="total"/>
                    </h:selectOneMenu>
                </td>
                <td class="answer">
                    <h:outputText value="#{incView.quest(4).defaultValue}" style="float:right;"/>
                </td>
            </tr>
            <tr class="question-row cf">
                <td class="question">
                    <h:outputText value="#{incView.quest(5).label}"/>
                    <br/>
                    <h:selectOneMenu value="#{incView.answer.com.helpSUB}">
                        <f:selectItem itemValue="1"
                                      itemLabel="Yes / Prepare the forms for me, send me detailed instructions so that I can submit them to the government"/>
                        <f:selectItem itemValue="0" itemLabel="No"/>
                        <f:ajax execute="@this" listener="#{incView.adjustTotal}" render="total"/>
                    </h:selectOneMenu>
                </td>
                <td class="answer">
                    <h:outputText value="#{incView.quest(5).defaultValue}" style="float:right;"/>
                </td>
            </tr>
            <tr class="question-row cf">
                <td class="question">
                </td>
                <td class="answer">
                    <h:outputText id="total" value="$#{incView.totalFee}"
                                  style="float:right; font-weight:bold; border-top: solid 2px;"/>
                </td>
            </tr>

            <tr class="question-row cf">
                <td class="question">
                    <h:selectBooleanCheckbox value="#{incView.answer.com.helpASP == 1}">
                        <f:ajax execute="@this" listener="#{incView.adjustTotal}" render="total"/>
                    </h:selectBooleanCheckbox>
                    <h:outputLabel value="&#160;"/>
                    <h:outputText value="#{incView.quest(6).label}"/>
                    <h:outputText value="#{incView.quest(6).pattern}" style="float:right;"/>
                </td>
                <td class="answer">
                    <h:outputText value="#{incView.quest(6).defaultValue}" style="float:right;"/>
                </td>
            </tr>
            <tr class="question-row cf">
                <td class="question">
                    <h:selectBooleanCheckbox value="#{incView.answer.com.helpBMM == 1}">
                        <f:ajax execute="@this" listener="#{incView.adjustTotal}" render="total"/>
                    </h:selectBooleanCheckbox>
                    <h:outputLabel value="&#160;"/>
                    <h:outputText value="#{incView.quest(7).label}"/>
                    <h:outputText value="#{incView.quest(7).pattern}" style="float:right;"/>
                </td>
                <td class="answer">
                    <h:outputText value="#{incView.quest(7).defaultValue}" style="float:right;"/>
                </td>
            </tr>
            <tr class="question-row cf">
                <td class="question">
                    <h:selectBooleanCheckbox value="#{incView.answer.com.helpACC == 1}">
                        <f:ajax execute="@this" listener="#{incView.adjustTotal}" render="total"/>
                    </h:selectBooleanCheckbox>
                    <h:outputLabel value="&#160;"/>
                    <h:outputText value="#{incView.quest(8).label}"/>
                    <h:outputText value="#{incView.quest(8).pattern}" style="float:right;"/>
                </td>
                <td class="answer">
                    <h:outputText value="#{incView.quest(8).defaultValue}" style="float:right;"/>
                </td>
            </tr>
            <tr class="question-row cf">
                <td class="question">
                    <h:selectBooleanCheckbox value="#{incView.answer.com.helpWSP == 1}">
                        <f:ajax execute="@this" listener="#{incView.adjustTotal}" render="total"/>
                    </h:selectBooleanCheckbox>
                    <h:outputLabel value="&#160;"/>
                    <h:outputText value="#{incView.quest(9).label}"/>
                    <h:outputText value="#{incView.quest(9).pattern}" style="float:right;"/>
                </td>
                <td class="answer">
                    <h:outputText value="#{incView.quest(9).defaultValue}" style="float:right;"/>
                </td>
            </tr>
            <tr class="question-row cf">
                <td class="question">
                    <h:selectBooleanCheckbox value="#{incView.answer.com.helpLCP == 1}">
                        <f:ajax execute="@this" listener="#{incView.adjustTotal}" render="total"/>
                    </h:selectBooleanCheckbox>
                    <h:outputLabel value="&#160;"/>
                    <h:outputText value="#{incView.quest(10).label}"/>
                    <h:outputText value="#{incView.quest(10).pattern}" style="float:right;"/>
                </td>
                <td class="answer">
                    <h:outputText value="#{incView.quest(10).defaultValue}" style="float:right;"/>
                </td>
            </tr>
            <tr class="question-row cf">
                <td class="question">
                    <h:selectBooleanCheckbox value="#{incView.answer.com.helpBCP == 1}">
                        <f:ajax execute="@this" listener="#{incView.adjustTotal}" render="total"/>
                    </h:selectBooleanCheckbox>
                    <h:outputLabel value="&#160;"/>
                    <h:outputText value="#{incView.quest(11).label}"/>
                    <h:outputText value="#{incView.quest(11).pattern}" style="float:right;"/>
                </td>
                <td class="answer">
                    <h:outputText value="#{incView.quest(11).defaultValue}" style="float:right;"/>
                </td>
            </tr>
            </tbody>
        </table>
    </ui:define>
</ui:composition>
</html>