<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
        >
<h:body>
    <ui:composition template="/templates/dashboard.xhtml">

        <ui:define name="menu">
            <!--<ui:include src="/main/#{dashView.userRole}/menu.xhtml" />-->
        </ui:define>

        <ui:define name="content">
            <div class="form">
                <p>
                    <h:outputText value="Login"/>
                </p>

                <p>
                    <h:outputLabel value="Login ID:" style="display: inline-block; width:10%;"/>
                    <h:inputText name="j_username" id="j_username"
                                 value="#{dashView.login.name}"/>
                    <span>(Use your e-mail or registration name.)</span>
                </p>

                <p>
                    <h:outputLabel value="Password:" style="display: inline-block; width:10%;"/>
                    <h:inputSecret name="j_password" id="j_password"
                                   value="#{dashView.login.password}"/>
                    <span>(Not mandatory if you are not registered.)</span>
                </p>

                <p>
                    <h:outputLabel value="" style="display: inline-block; width:10%;"/>
                    <h:commandButton value="Login" render="@form"
                                     action="#{dashView.checkUser()}" class="button-gray"/>
                </p>
            </div>
        </ui:define>
    </ui:composition>
</h:body>
</html>
