<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/templates/dashboard.xhtml">

	<ui:define name="menu">
		<ui:include src="/main/#{dashView.userRole}/menu.xhtml" />
	</ui:define>

	<ui:define name="content">
		<p style="text-align: center;">
			To be implemented! <br />
			<h:outputLink value="#{request.contextPath}"
				style="text-align:center;">Back to Dashboard</h:outputLink>
		</p>
	</ui:define>

</ui:composition>
</html>