<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>


    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic'
          rel='stylesheet' type='text/css'></link>
    <h:outputStylesheet name="ui.css" library="css"/>
    <h:outputStylesheet name="ui-chrome.css" library="css"/>
    <h:outputStylesheet name="common.css" library="css"/>
    <h:outputStylesheet name="normalize.css" library="css"/>
    <h:outputStylesheet name="trackpad-scroll-emulator.css" library="css"/>
    <h:outputStylesheet name="fullcalendar.css" library="css"/>
    <h:outputStylesheet name="fullcalendar.print.css" library="css"/>

    <script type="text/javascript"
            src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"/>
    <h:outputScript library="js" name="jquery.trackpad-scroll-emulator.js"/>
    <h:outputScript library="js" name="jquery-ui-1.10.3.custom.min.js"/>
    <h:outputScript library="js" name="jquery.validate.js"/>
    <h:outputScript library="js" name="progress-bar.js"/>
    <h:outputScript library="js" name="resize-alg.js"/>
    <h:outputScript library="js" name="tooltip.js"/>
    <h:outputScript library="js" name="modal.js"/>

    <title><h:outputText value="#{dashView.title}"/></title>
</h:head>

<h:body>
    <f:view>

        <ui:include src="/main/header.xhtml"/>

        <div id="dash-header" class="cf">
        </div>

        <h:form id="form">
            <ui:insert name="menu"/>
            <ui:insert name="special"/>

            <div class="tse-scrollable cf">
                <div class="tse-content">
                    <div id="message">
                        <h:panelGroup id="messagePanel">
                            <h:messages errorStyle="color: red" infoStyle="color: green"
                                        layout="table" escape="false"/>
                        </h:panelGroup>
                    </div>
                    <ui:insert name="content"/>
                </div>
            </div>
        </h:form>
    </f:view>
</h:body>
</html>