<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<f:metadata>
    <f:viewParam name="user" value="#{dashView.user.id}"/>
    <f:event type="preRenderView" listener="#{incView.applicationUri}"/>
    <!--         <f:viewAction action="#{incView.applicationUri}" /> -->
</f:metadata>
<h:head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic'
          rel='stylesheet' type='text/css'></link>
    <h:outputStylesheet name="jquery-ui-1.10.3.custom.css" library="css/ui-lightness"/>
    <h:outputStylesheet name="ui.css" library="css"/>
    <h:outputStylesheet name="ui-chrome.css" library="css"/>
    <h:outputStylesheet name="common.css" library="css"/>
    <h:outputStylesheet name="normalize.css" library="css"/>
    <h:outputStylesheet name="trackpad-scroll-emulator.css" library="css"/>

    <script type="text/javascript"
            src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"/>
    <!-- script
        src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js" /-->
    <h:outputScript library="js" name="jquery.trackpad-scroll-emulator.js"/>
    <h:outputScript library="js" name="jquery-ui-1.10.3.custom.min.js"/>
    <h:outputScript library="js" name="jquery.validate.js"/>
    <h:outputScript library="js" name="progress-bar.js"/>
    <h:outputScript library="js" name="resize-alg.js"/>
    <h:outputScript library="js" name="tooltip.js"/>
    <h:outputScript library="js" name="modal.js"/>

    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
        api_key: f26wwche5zko
        authorize: true
        credentials_cookie: true
    </script>

    <script type="text/javascript">
        IN.init({
            scope: 'r_basicprofile, r_emailaddress'
        });
        function onLinkedInAuth() {
            IN.API.Profile("me").result(sendProfile);
        }
        function sendProfile(profile) {
            var v = profile.values[0];
            document.getElementById("form:LinkedinId").value = v.id;
            document.getElementById("form:LinkedinFname").value = v.firstName;
            document.getElementById("form:LinkedinLname").value = v.lastName;
            document.getElementById("form:LinkedinMail").value = v.emailAddress;
            IN.User.logout();
            document.getElementById("form:LinkedinButton").click();
        }

        jQuery(document).ready(function () {
            $(".linkedin-login").on('click', function () {
                if (IN.User.isAuthorized()) {
                    IN.User.logout();
                }
                IN.UI.Authorize().place();
                IN.Event.onOnce(IN, "auth", onLinkedInAuth);
//				IN.User.authorize(onLinkedInAuth());
            });
        });
    </script>

    <script type="text/javascript">
        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/client:plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
        function callGoogle(authResult) {
            if (authResult['access_token']) {
                // Hide the sign-in button now that the user is authorized, for example:
                // document.getElementById('signinButton').setAttribute('style', 'display: none');
            } else if (authResult['error']) {
                // Possible error codes:
                //   "access_denied" - User denied access to your app
                //   "immediate_failed" - Could not automatically log in the user
                console.log('There was an error: ' + authResult['error']);
            }
        }
    </script>

    <title><h:outputText value="#{incView.title}"/></title>

</h:head>

<h:body>
<f:view>

<!-- For modal window (DO NOT REMOVE) -->
<div id="modalWindow"></div>
<div id="modalBackground"></div>

<script type="text/javascript">
    jQuery(document).ready(function () {

        $ = jQuery;

        var emailForm = $('#incwiz-options-form');
        var emailFormTextInput = $('#incwiz-options-form\\:mail');

        emailForm.validate({

            rules: {
                'incwiz-options-form:mail': {
                    required: true,
                    email: true,
                    notEqual: 'email'
                }
            },

            messages: {
                'incwiz-options-form:mail': {
                    required: "Please enter an email.",
                    email: "Please enter a valid email.",
                    notEqual: "Please enter a valid email."
                }
            }

        });

        emailForm.on("submit", function (event) {
            if (!emailForm.valid()) {
                event.preventDefault();
            }
        });

    });
</script>

<ui:include src="/main/header-incwiz.xhtml"/>

<c:if test="#{incView.currPage != 1}">
    <div id="incwiz-header" class="cf">
        <div id="incwiz-quotes">
            <ui:include src="/main/quotes.xhtml"/>
        </div>
        <div id="progress-incwiz">
            <span>Incorporation progress:</span>
            <ui:include src="/main/progressbar.xhtml"/>
            <span style="color: #3ea81d; font-weight: bold;">#{incView.progress}%</span>
        </div>
        <div class="cf"></div>
    </div>
</c:if>
<h:form id="form">
    <div id="#{incView.currPage != 1 ? 'content-nomenu' : 'content-nomenu-noheader'}" class="tse-scrollable cf">
        <div class="tse-content">
            <div id="message">
                <h:panelGroup id="messagePanel">
                    <h:messages errorStyle="color: red" infoStyle="color: green"
                                layout="table" escape="false"/>
                </h:panelGroup>
            </div>
            <div style="padding:1%;">
                <h:panelGroup id="contentPanel" layout="block">
                    <ui:insert name="content"/>
                </h:panelGroup>

                <c:if test="#{incView.currPage != 1}">
                    <div id="incwiz-control" class="cf">
                        <h:commandLink id="prev" immediate="true" class="float-left button-gray">
                            Previous
                            <f:ajax execute="@this" event="click" listener="#{incView.prevPageAjax}"/>
                        </h:commandLink>
                        <h:commandButton id="next" value="Onward and Upward" immediate="true"
                                         class="float-right button-gray"
                                         rendered="#{incView.currPage lt (incView.lastPage-1)}"
                                         action="#{incView.nextPage()}">
                        </h:commandButton>
                        <h:commandButton id="stop" value="End" immediate="true"
                                         class="float-right button-gray"
                                         rendered="#{incView.currPage == (incView.lastPage-1)}"
                                         action="#{incView.nextPage()}">
                        </h:commandButton>
                        <h:commandButton id="send" value="Submit" immediate="true"
                                         class="float-right button-gray"
                                         rendered="#{incView.currPage == incView.lastPage}"
                                         disabled="#{dashView.userRole != 'client'} and #{dashView.userRole != 'anonymous'}"
                                         action="#{incView.submitForm()}">
                        </h:commandButton>
                    </div>
                </c:if>
            </div>
        </div>
    </div>

    <h:inputHidden id="LinkedinId" value="#{dashView.id}"/>
    <h:inputHidden id="LinkedinFname" value="#{dashView.fName}"/>
    <h:inputHidden id="LinkedinLname" value="#{dashView.lName}"/>
    <h:inputHidden id="LinkedinMail" value="#{dashView.email}"/>
    <h:commandButton id="LinkedinButton" action="#{dashView.addLinkedinUser()}" style="display:none;"/>

</h:form>

<h:form id="incwiz-options-form">
    <div id="incwiz-options" class="cf">
        <!--div class="float-left">
            <ul id="benefits">
                <li>
                    <h:graphicImage value="/resources/images/icon-checkmark.png" style="vertical-align: middle; margin-right: .3em;" />
                    <b>Save time!</b> Have us handle the whole thing.
                </li>
                <li>
                    <h:graphicImage value="/resources/images/icon-checkmark.png" style="vertical-align: middle; margin-right: .3em;" />
                    <b>Save 50%</b> on the Consultants Starter Pack - $149
                </li>
                <li>
                    <h:graphicImage value="/resources/images/icon-checkmark.png" style="vertical-align: middle; margin-right: .3em;" />
                    <b>Save 50%</b> with the Legal Consultation Pack - $149
                </li>
            </ul>
        </div -->
        <p class="float-left"></p>

        <div class="float-right align-right">
            Save form:
            <h:inputText id="mail" value="#{dashView.user.mail}" size="25" style="vertical-align: middle;">
                <f:ajax execute="@form"/>
            </h:inputText>
            <h:commandButton id="save" value="Save" class="button-gray"
                             action="#{incView.saveForm()}" style="vertical-align: middle;">
            </h:commandButton>
					<span class="gplus-login login-button">
						<span class="login-icon"> 
							<span id="signinButton">
							  <span class="g-signin"
                                    data-callback="callGoogle"
                                    data-clientid="483790801663.apps.googleusercontent.com"
                                    data-cookiepolicy="none"
                                    data-requestvisibleactions="http://schemas.google.com/AddActivity"
                                    data-scope="https://www.googleapis.com/auth/plus.login">
									<h:graphicImage value="/resources/images/icons/32x32/g-plus.png"/>
							  </span>
							</span>
						</span><span class="login-text">
							Sign in with <b>Google+</b>
						</span>
					</span>
					<span class="fb-login login-button">
						<span class="login-icon">
							<h:graphicImage value="/resources/images/icons/32x32/fb.png"/>
								<div id="fb-root"></div>
								<script type="text/javascript" src="//connect.facebook.net/en_US/all.js"></script>
								<script type="text/javascript">
                                    window.fbAsyncInit = function () {
                                        // init the FB JS SDK
                                        FB.init({
                                            appId: '499130706828622',
                                            channelUrl: 'http://localhost:8081/', // Channel file for x-domain comms
                                            status: true, // Check Facebook Login status
                                            cookie: true, // enable cookies to allow the server to access the session
                                            xfbml: true  // Look for social plugins on the page
                                        });

                                        FB.Event.subscribe('auth.authResponseChange', function (response) {
                                            // Here we specify what we do with the response anytime this event occurs.
                                            if (response.status === 'connected') {
                                                // The response object is returned with a status field that lets the app know the current
                                                // login status of the person. In this case, we're handling the situation where they
                                                // have logged in to the app.
                                                testAPI();
                                            } else if (response.status === 'not_authorized') {
                                                // In this case, the person is logged into Facebook, but not into the app, so we call
                                                // FB.login() to prompt them to do so.
                                                // In real-life usage, you wouldn't want to immediately prompt someone to login
                                                // like this, for two reasons:
                                                // (1) JavaScript created popup windows are blocked by most browsers unless they
                                                // result from direct interaction from people using the app (such as a mouse click)
                                                // (2) it is a bad experience to be continually prompted to login upon page load.
                                                FB.login();
                                            } else {
                                                // In this case, the person is not logged into Facebook, so we call the login()
                                                // function to prompt them to do so. Note that at this stage there is no indication
                                                // of whether they are logged into the app. If they aren't then they'll see the Login
                                                // dialog right after they log in to Facebook.
                                                // The same caveats as above apply to the FB.login() call here.
                                                FB.login();
                                            }
                                        });
                                    };
                                    // Load the SDK asynchronously
                                    (function (d) {
                                        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
                                        if (d.getElementById(id)) {
                                            return;
                                        }
                                        js = d.createElement('script');
                                        js.id = id;
                                        js.async = true;
                                        js.src = "//connect.facebook.net/en_US/all.js";
                                        ref.parentNode.insertBefore(js, ref);
                                    }(document));
                                    function testAPI() {
                                        console.log('Welcome!  Fetching your information.... ');
                                        FB.api('/me', function (response) {
                                            console.log('Good to see you, ' + response.name + '.');
                                        });
                                    }
                                </script>
								<div class="fb-login-button"></div>
						</span><span class="login-text">
							Sign in with <b>Facebook</b>
						</span>						
					</span>
					<span class="linkedin-login login-button">
						<span class="login-icon">
							<h:graphicImage value="/resources/images/icons/32x32/linkedin.png"/>
						</span><span class="login-text">
							Sign in with <b>LinkedIn</b>
						</span>						
					</span>
        </div>
    </div>

</h:form>

<hr class="bottom"/>

<div id="footer" class="cf">
    <p id="footer-left" class="float-left">
        arc mercury footer
    </p>

    <p id="footer-right" class="float-right">
    </p>
</div>

<div id="legalStuff">
    <h2 style="margin: 0 0 .5em !important;padding: 0 0 .5em !important;">Legal Stuff</h2>

    <div>
        <p>We have helped many people file to form their companies.</p>

        <p>
            Here are a few important things that the world of Law requires us to share with you and to stress
        </p>

        <p>
            We are a state registered California Legal Document Assistant Service and an active member in CALDA - California Legal Document Assistant Organization. As such we are dedicated to upholding the highest levels of ethics and fulfilling our clients needs. In other words our services are at your direction and help you file for your new company, however, we are not lawyers.
        </p>

        <p>
            In order to satisfy the requirements of the Legal Community and Bar Associations around the USA we are required to post this disclaimer: Communications between us (you and arc mercury) are protected by our Privacy Policy but not by the attorney-client privilege or as work product - we are not lawyers. We provide access to independent attorneys and self-help services at your specific direction as add on, no fee, complimentary service, should you require this. Again, we are not a law firm or a substitute for an attorney or law firm. Accordingly we cannot provide any kind of advice, explanation, opinion, or recommendation about possible legal rights, remedies, defenses, options, selection of forms or strategies.
        </p>

        <p>
            Our terms of service are:Our terms of service are:Our terms of service are:Our terms of service are:Our terms of service are:Our terms of service are:Our terms of service are:Our terms of service are:Our terms of service are:Our terms of service are:Our terms of service are:Our terms of service are:Our terms of service are:Our terms of service are:Our terms of service are:Our terms of service are:Our terms of service are:Our terms of service are:Our terms of service are:Our terms of service are:
        </p>
    </div>
    <h:form>
        <p style="text-align:center;margin:1em 0 0;">
            <h:commandButton value=" I have read and agreed with all the legal stuff" action="#{incView.nextPage()}"
                             id="you-dont-need-to-see-my-identification" class="button-gray"/>
        </p>
    </h:form>
</div>

</f:view>
</h:body>

</html>