<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">

<h:body>
    <h:panelGrid columns="2">

        <h:column style="width:80%;">
            <h:panelGrid columns="2" columnClasses="panelItem,panelItem">
                <h:column>
                    <h:graphicImage value="/resources/images/#{dashView.uid}.jpg"
                                    width="40px" height="40px"/>
                    <br/>
                    <h:outputText value="#{eosView.guestInitials}"/>
                </h:column>
                <h:column>
                    <h:inputTextarea value="#{eosView.message}" rows="3"
                                     style="width:400px;"/>
                    <br/>
                    <h:panelGroup>
                        <h:selectBooleanCheckbox value="#{eosView.markImportant}"/>
                        <h:outputLabel value="Mark as important"/>
                        <h:commandButton id="Sendmessage" style="float:right;" value="Send message"
                                         action="#{eosView.sendmessage()}"/>
                    </h:panelGroup>
                </h:column>
            </h:panelGrid>
        </h:column>

        <!-- 		<h:column style="width:20%;"> -->
        <!-- 			<h:panelGrid columns="1" columnClasses="panelItem"> -->
        <!-- 				<rich:column> -->
        <!-- 					<h:outputLabel value="&#160;" /> -->
        <!-- 				</rich:column> -->
        <!-- 				<rich:column> -->
        <!-- 					<h:outputText value="Drag &amp; drop files here" /> -->
        <!-- 				</rich:column> -->
        <!-- 				<rich:column> -->
        <!-- 					<h:outputLabel value="&#160;" /> -->
        <!-- 				</rich:column> -->
        <!-- 				<rich:column> -->
        <!-- 					<h:button value="Add link from my files" style="width:100%;" /> -->
        <!-- 				</rich:column> -->
        <!-- 			</h:panelGrid> -->
        <!-- 		</h:column> -->

    </h:panelGrid>
</h:body>
</html>
