<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<h:outputStylesheet name="dashboard.css" library="css" />
	<title><h:outputLabel value="#{eosView.title}" /></title>
</h:head>

<h:body>
	<ui:composition template="/templates/dashboard.xhtml">
		<ui:define name="content">
			<ui:include src="/main/employee/menu.xhtml" />
			<h:outputLabel style="padding: 2px; font-size:16px;"
				value="Add/Edit new To Do: " for="name" />

			<div id="container" style="width: 100%;">


				<div id="left_panel" style="float: left; width: 50%;">
					<div>
						<h:outputLabel style="padding: 2px;" value="Task Name: "
							for="name" />
						<h:inputText id="name" value="#{eosView.taskname}"></h:inputText>
					</div>
					<div>
						<h:outputLabel style="padding: 2px;" value="Due Date: " for="date" />
						<h:inputText id="date" value="#{eosView.duedate}"></h:inputText>
					</div>
					<div>
						<h:outputLabel style="padding: 2px;" value="Clients: " for="date" />
						<h:selectOneMenu value="#{eosView.clientID}">
							<f:selectItems value="#{eosView.clients}" />
						</h:selectOneMenu>
					</div>
					<div>
						<h:outputLabel style="padding: 2px;" value="Invoice Method: "
							for="date" />
						<h:selectOneMenu id="invoicemethod" value="#{eosView.invoicemethodID}">
							<f:selectItems value="#{eosView.invoiceMethods}" />
						</h:selectOneMenu>
					</div>
					<div>
						<h:outputLabel style="padding: 2px;" value="Hourly: " for="date" />
						<h:inputText id="hourly" value="#{eosView.hourly}"></h:inputText>
					</div>
					<div>
						<h:outputLabel style="padding: 2px;" value="Flat rate: "
							for="date" />
						<h:inputText id="flatrate" value="#{eosView.flatrate}"></h:inputText>
					</div>
				</div>
				<div id="right_panel" style="float: right; width: 50%; height: 65px">
					<h:inputTextarea id="description" value="#{eosView.description}"
						style="width:350px; height:50px;" />
				</div>

			</div>

			<div id="btn_area" style="text-align: center">
				<h:commandButton id="save" value="Add/Save To Do"
					action="#{eosView.insertToDo()}">
				</h:commandButton>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>