<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:body>

	<h:dataTable value="#{dashView.filesList}" var="t" width="100%">
		<f:facet name="header" width="100%">
			<rich:column width="200px">
				<h:panelGroup>
					<h:outputLabel value="Root folder" />
				</h:panelGroup>
			</rich:column>
			<rich:column width="20px">
				<h:outputLabel value="Modified date" />
			</rich:column>
			<rich:column width="20px">
				<h:outputLabel value="Modified by" />
			</rich:column>
		</f:facet>
		<rich:column>
			<h:panelGroup>
				<h:selectBooleanCheckbox value="false" />
				<h:outputText value="#{t.name}" />
			</h:panelGroup>
		</rich:column>
		<rich:column>
			<h:outputText value="#{t.shortModDate}" />
		</rich:column>
		<rich:column>
			<h:outputText value="#{t.modBy}" />
		</rich:column>
	</h:dataTable>

</h:body>
</html>