<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:body>
	<h:panelGroup styleClass="head">
		<h:outputLabel value="Log work:" />
	</h:panelGroup>
	<h:panelGrid columns="1" styleClass="panel">
		<rich:column>
			<h:selectOneMenu value="#{eosView.clientID}">
				<f:selectItems value="#{eosView.clients}" />
				<f:ajax event="valueChange" render="projects" execute="projects" />
			</h:selectOneMenu>
		</rich:column>
		<rich:column>
			<h:selectOneMenu id="projects" value="#{eosView.projectID}">
				<f:selectItems value="#{eosView.projectsListbyClient}" />
				<f:ajax event="valueChange" render="@form" execute="" />
			</h:selectOneMenu>
		</rich:column>
	</h:panelGrid>
	<h:panelGroup styleClass="head" id="tasklogs">
		<h:outputLabel value="My task list:" />
		<h:panelGrid columns="1" styleClass="panel">
			<rich:column>
				<ui:repeat var="task" value="#{eosView.taskLogs}">
					<h:commandLink value="#{task.name}" action="#{eosView.settaskid()}">
						<f:param name="id" value="#{task.ID}"></f:param>
						<f:ajax execute="@this" event="action" render="@form"
							listener="#{eosView.settaskid()}" />
					</h:commandLink>
					<br />
				</ui:repeat>
			</rich:column>

			<rich:column>
				<h:inputTextarea value="#{eosView.notes}" rows="3" />
			</rich:column>
			<rich:column>
				<h:inputText id="hours" value="#{eosView.taskHours}">
					<!-- 	<f:validateDoubleRange minimum="0.10" maximum="10.00">
					</f:validateDoubleRange> -->
				</h:inputText>

			</rich:column>
			<rich:column>
				<h:panelGroup styleClass="center">
					<h:commandButton value="Log hours" action="#{eosView.saveLog()}" />
				</h:panelGroup>
			</rich:column>
		</h:panelGrid>
	</h:panelGroup>
</h:body>
</html>
