<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">
<h:body>
	<ul id="menu" class="cf">
		<li>
			<h:outputLink value="#{request.contextPath}/main/employee.xhtml">Dashboard</h:outputLink>
		</li>
		<li>
			<h:outputLink value="#{request.contextPath}/main/employee/myProjects.xhtml">My programs/projects</h:outputLink>
		</li>
		<li>
			<h:outputLink value="#{request.contextPath}/main/employee/myToDos.xhtml">My TODO's</h:outputLink>
		</li>
		<li>
			<h:outputLink value="#{request.contextPath}/main/employee/myWork.xhtml">My Work</h:outputLink>
		</li>
		<li>
			<h:outputLink value="#{request.contextPath}/main/employee/myFiles.xhtml">My Files</h:outputLink>
		</li>
	</ul>
</h:body>
</html>