<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:body>

	<h:panelGrid columns="2" columnClasses="panelItem,panelItem">
		<rich:column>
			<h:graphicImage value="/resources/images/#{dashView.uid}.jpg"
				width="40px" height="40px" />
			<br />
			<h:outputText value="#{dashView.guestInitials}" />
		</rich:column>
		<rich:column>
			<h:inputTextarea value="#{dashView.messageText}" rows="3"
				readonly="true" style="width:400px;" />
			<br />
			<h:panelGroup>
				<h:outputText value="#{dashView.messageDate}" />
			</h:panelGroup>
		</rich:column>
	</h:panelGrid>

</h:body>
</html>