<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<h:outputStylesheet name="dashboard.css" library="css" />
	<title><h:outputLabel value="#{dashView.title}" /></title>
</h:head>

<h:body>
	<ui:composition template="/templates/dashboard.xhtml">
		<ui:define name="content">
			<ui:include src="/main/employee/menu.xhtml" />
			<h:panelGroup>
				<h:outputLabel value="My Files: " />
				<h:selectOneMenu value="#{dashView.clientId}">
					<f:selectItems value="#{dashView.fileClients}" />
				</h:selectOneMenu>
				<h:selectOneMenu value="#{dashView.filePPTD}">
					<f:selectItems value="#{dashView.projects}" />
				</h:selectOneMenu>
				<h:panelGrid columns="2" width="100%">
					<rich:column width="90%">
						<ui:include src="/main/employee/files.xhtml" />
					</rich:column>
					<rich:column width="10%">
						<ui:include src="/main/employee/docs.xhtml" />
					</rich:column>
				</h:panelGrid>
			</h:panelGroup>
		</ui:define>
	</ui:composition>
</h:body>
</html>