<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<h:outputStylesheet name="dashboard.css" library="css" />
	<title><h:outputLabel value="#{dashView.title}" /></title>
</h:head>

	<h:body>
		<ui:composition template="/templates/dashboard.xhtml">
		
			<ui:define name="menu">
				<ui:include src="/main/employee/menu.xhtml" />
			</ui:define>
	
			<ui:define name="content">
				<div class="fullbar cf tse-scrollable">
					<div class="tse-content">
						<div class="sticky">
							<h:outputLabel value="Clients:" />
							<h:outputLabel value="Projects/Programs:" />
							<h:selectOneMenu value="#{eosView.clientID}">
								<f:selectItems value="#{eosView.clients}" />
								<f:ajax event="valueChange" render="projects" execute="projects" />
							</h:selectOneMenu>
							<h:selectOneMenu id="projects" value="#{eosView.projectID}">
								<f:selectItems value="#{eosView.projectsListbyClient}" />
								<f:ajax event="valueChange" render="@form" execute="" />
							</h:selectOneMenu>
							<h:selectBooleanCheckbox value="#{eosView.showArchive}" >
							<f:ajax event="valueChange" render="@form" execute="" />
							</h:selectBooleanCheckbox>
							<h:outputLabel value="Show archive "/>
							<div style="width: 40%;">						
								<ui:include src="/main/progressbar-myprograms.xhtml" />
							</div>
						</div>
						<p>
							<h:outputLabel value="With selected: " />
							<h:commandButton id="markcompleted" value="Mark as completed" action="#{eosView.markCompleted()}" class="button-gray"/>
							<h:commandButton id="archive" value="Archive" action="#{eosView.markArchived()}" rendered="#{!eosView.showArchive}" class="button-gray"/>
							<h:commandButton id="dearchive" value="De-archive" action="#{eosView.markArchived()}" rendered="#{eosView.showArchive}"/>
							<h:outputLink value="main/none.xhtml" style="float:right">Advanced search</h:outputLink>
							<h:inputText value="#{dashView.search}" style="float:right" />						
						</p>
						<ui:include src="/main/employee/projects.xhtml" />
					</div>
				</div>
			</ui:define>
		</ui:composition>
	</h:body>
</html>