<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<h:outputStylesheet name="dashboard.css" library="css" />
	<title><h:outputLabel value="#{dashView.title}" /></title>
</h:head>

<h:body>
	<ui:composition template="/templates/dashboard.xhtml">
	<ui:define name="content">
	<ui:include src="/main/employee/menu.xhtml" />
	<h:panelGroup>
			<h:outputLabel value="My TODO's: " />
			<h:commandButton value="Add new TODO" style="float:right;" action="editTodo.xhtml"/>
			<br />
			<h:outputLabel value="With selected: " />
			<h:commandButton id="tdmarkcompleted" value="Mark as completed" action="#{eosView.marktdCompleted()}"/>
			<h:commandButton id="tdmarknotcompleted" value="Mark as not completed" action="#{eosView.marktdnotCompleted()}"/>
			<h:commandButton id="archive" value="Archive" action="#{eosView.marktdArchived()}" rendered="#{!eosView.showtdArchive}"/>
			<h:commandButton id="dearchive" value="De-archive" action="#{eosView.marktdArchived()}" rendered="#{eosView.showtdArchive}"/>
			<h:commandButton id="tddelete" value="Delete" action="#{eosView.deletetd()}"/>
			<h:selectBooleanCheckbox value="#{eosView.showtdArchive}" >
				<f:ajax event="valueChange" render="@form" execute="@form" />
			</h:selectBooleanCheckbox>
			<h:outputLabel value="Show archive"/>

			<h:outputLink value="main/none.xhtml" style="float:right;">Advanced search</h:outputLink>
			<h:inputText value="#{dashView.search}" style="float:right;" />
			
			<ui:include src="/main/employee/todos.xhtml" />
	</h:panelGroup>
	</ui:define>
</ui:composition>
</h:body>
</html>