<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<h:outputStylesheet name="dashboard.css" library="css" />

	<title><h:outputLabel value="#{dashView.title}" /></title>

</h:head>

<h:body>
	<ui:composition template="/templates/dashboard.xhtml">

		<ui:define name="menu">
			<ui:include src="/main/employee/menu.xhtml" />
		</ui:define>

		<ui:define name="content">

			<script type="text/javascript">
				
					jQuery(document).ready( function() {
						 $.ajax({
							 type: "GET",
				                url: "http://eos.server:8082/EOS.asmx/getDayTotal",
				                dataType: "jsonp",
				                success: function(data) {
				                	jQuery('#calendar').fullCalendar({
				                    	header: {
											left: '',
											center: 'title',
											right: ''
										},
										selectable: false,
										selectHelper: true,
										disableDragging:true,
										 dayClick: function(date, allDay, jsEvent, view) {
							
											 var formDate = $.fullCalendar.formatDate(date, 'd-MMM-yyyy,HH:mm:ss');			            
								            $("#form\\:wkdate").val(formDate);
								            $("#form\\:month").val(date.getMonth()); 
								            $("#form\\:show").click();		
									        // change the day's background color just for fun
								            $(".fc-state-highlight").removeClass("fc-state-highlight");
								            $(jsEvent.currentTarget).addClass("fc-state-highlight");
									       
										    },
										    eventClick: function(calEvent, jsEvent, view) {

										    },
				                        editable: true,
				                        events: $.map(data.d, function(item, i) {
				                            var event = new Object();
				                            event.id = item.EventID;
				                            event.start = new Date(item.StartDate);
				                            event.end = new Date(item.EndDate);
				                            event.title = item.EventName;
				                            return event;
				                        }),
				                        eventBackgroundColor: '#378006'
				                    });
				                   

				                },
				                error: function(XMLHttpRequest, textStatus, errorThrown) {
				                    debugger;
				                }
				            });
				        });
												
					
				</script>

			<h:outputLabel value="My Work: " />
			<h:panelGrid columns="2" width="100%">
				<rich:column>
					<div id="calendar" class="calendar" style="width: 500px;"></div>
					<h:inputHidden id="wkdate" value="#{eosView.wkdate}" />
					<h:inputHidden id="month" value="#{eosView.currentMonth}" />
					<h:commandButton id="show" value="show" style="display:none">
						<f:param name="date" value="#{eosView.wkdate}"></f:param>
						<f:ajax execute="@this" event="action" render="testThisSheat"
							listener="#{eosView.showWorkLog}" />
					</h:commandButton>

				</rich:column>
				<rich:column width="100px">
					<h:panelGroup id="logs">
						<ui:include src="/main/employee/logs.xhtml" />
					</h:panelGroup>
				</rich:column>
			</h:panelGrid>
			<h:panelGroup id="testThisSheat">
				<h:panelGroup styleClass="panel" width="100%">
					<h:outputLabel value="Total for this month:" />
					<h:outputText value="#{eosView.monthTotal}" />
				</h:panelGroup>
				<br />
				<h:outputLabel value="Work log" />
				<ui:include src="/main/employee/worklogs.xhtml" />
				<h:panelGroup>
					<h:outputText value="With selected:" />
					<h:commandButton id="delete" value="Delete" action="#{eosView.deleteLogActivity}">						
					</h:commandButton>
				</h:panelGroup>
			</h:panelGroup>

		</ui:define>
	</ui:composition>
</h:body>
</html>