<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:body>
	<h:form id="taskform">
		<table id="tasklistTable" border="0">
			<thead>
				<tr>
					<th>
						<h:selectBooleanCheckbox value="#{eosView.taskCheck}">
							<f:ajax listener="#{eosView.getSelected}" render="@form" execute="@form" />
						</h:selectBooleanCheckbox>
					</th>
					<th class="align-left">Project name</th>
					<th>Due date</th>
					<th>Estimated time</th>
					<th>Work time</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<ui:repeat id="tree" value="#{eosView.taskListNodes}" var="node">
					<tr>
						<td class="text-align: center;">
							<h:selectBooleanCheckbox
								value="#{eosView.checkMap[node.id]}" rendered="#{node.visible}">
							</h:selectBooleanCheckbox>
						</td>
						<td>
							<h:outputText value="#{node.value}" escape="false" />
						</td>
						<td class="text-align: center;">
							<h:outputText value="#{node.duedate}" />
						</td>
						<td class="text-align: center;">
							<h:outputText value="#{node.estimate}" />
						</td>
						<td class="text-align: center;">
							<h:outputText value="#{node.worktime}" />
						</td>
						<td class="text-align: center;">
							<h:outputText value="#{node.status}" />
						</td>
					</tr>
				</ui:repeat>
			</tbody>
		</table>
	</h:form>
</h:body>
</html>