<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<h:outputStylesheet name="dashboard.css" library="css" />
	<title><h:outputLabel value="#{dashView.title}" /></title>
</h:head>

<h:body>
	<ui:composition template="/templates/dashboard.xhtml">
		<ui:define name="content">
			<ui:include src="/main/employee/menu.xhtml" />

			<h:panelGrid columns="2">

				<rich:column style="width:100%;">
					<h:panelGroup id="messages">
						<ui:repeat value="#{eosView.messagesforProject}"
							var="messagesforProject">
							<h:panelGrid columns="2">

								<rich:column style="width:100%;">
									<h:panelGrid columns="3"
										columnClasses="panelItem,panelItem,panelItem">
										<rich:column style="width:40px;">
											<h:graphicImage value="/resources/images/#{dashView.uid}.jpg"
												width="40px" height="40px" />
											<br />
											<h:outputText value="#{messagesforProject.initials}" />
										</rich:column>
										<rich:column style="width:100%;">
											<h:inputTextarea value="#{messagesforProject.message}"
												rows="3" readonly="true" style="width:400px;" />
											<br />
											<h:panelGroup>
												<h:outputText value="#{messagesforProject.date}" />
												<h:button value="Reply" style="float:right;" />
											</h:panelGroup>
										</rich:column>
										<rich:column style="width:10px;">
											<h:selectBooleanCheckbox
												value="#{messagesforProject.important}" />
											<h:outputText value="&#160;&#160;!" style="font-weight:bold;" />
										</rich:column>
									</h:panelGrid>
								</rich:column>

								<rich:column style="width:100px;">
									<h:panelGrid columns="1" styleClass="panel">
										<h:outputLink value="main/none.xhtml">Documentation.doc</h:outputLink>
										<h:outputLink value="main/none.xhtml">stuff to do.xls</h:outputLink>
										<h:outputLabel value="&#160;" />
										<h:outputLabel value="&#160;" />
										<h:outputLink value="main/none.xhtml">Download all</h:outputLink>
									</h:panelGrid>
								</rich:column>

							</h:panelGrid>

						</ui:repeat>
					</h:panelGroup>
					<ui:include src="/main/employee/create.xhtml" />
				</rich:column>

				<rich:column style="width:100px;">
					<h:panelGroup styleClass="head">
						<h:outputLabel value="Status:" />
					</h:panelGroup>
					<h:panelGrid columns="1" styleClass="panel">
						<rich:column>
							<h:selectOneMenu value="#{eosView.clientID}">
								<f:selectItems value="#{eosView.clients}" />
								<f:ajax event="valueChange" render="projects" execute="projects" />
							</h:selectOneMenu>
						</rich:column>
						<rich:column>
							<h:selectOneMenu id="projects" value="#{eosView.projectID}">
								<f:selectItems value="#{eosView.projectsListbyClient}" />
								<f:ajax event="valueChange" render="@form" execute="viewtask" />

							</h:selectOneMenu>
						</rich:column>
						<rich:column>
							<rich:progressBar id="progress"
								value="#{eosView.progressbyProject}" enabled="true" minValue="0"
								maxValue="100">
								<h:outputLabel value="#{eosView.progressbyProject}%" />
							</rich:progressBar>
						</rich:column>

						<ul>
							<ui:repeat id="tree" value="#{eosView.treeNodes}" var="node">
								<h:outputText rendered="#{node.hasParent and node.firstChild}"
									value="&lt;ul&gt;" escape="false" />
								<li><h:outputText value="#{node.value}" />
									&nbsp;&nbsp;&nbsp;<h:outputText value="#{node.status}" /></li>
								<h:outputText rendered="#{node.hasParent and node.lastChild}"
									value="&lt;/ul&gt;" escape="false" />

							</ui:repeat>
						</ul>
						<rich:column>
							<h:commandButton id="viewtask" value="View task history"
								action="#{eosView.viewTaskHistory()}" style="width:100%;">
								<f:ajax render="messages" execute="viewtask" />
							</h:commandButton>
						</rich:column>
					</h:panelGrid>
					<h:panelGroup styleClass="head">
						<h:outputLabel value="To do list:" />
					</h:panelGroup>
					<h:panelGrid columns="1" styleClass="panel">
						<rich:column>
							<ui:repeat value="#{eosView.todos}" var="todos">
								<h:outputLabel value="#{todos.name}" />
								<br />
							</ui:repeat>
						</rich:column>
						<rich:column>
							<h:button value="To do history"
								outcome="myToDos.xhtml?faces-redirect=true" style="width:100%;" />
						</rich:column>

					</h:panelGrid>
				</rich:column>

			</h:panelGrid>
		</ui:define>
	</ui:composition>
</h:body>
</html>