<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:body>
	<h:panelGroup styleClass="head">
		<h:outputLabel value="Status:" />
	</h:panelGroup>
	<h:panelGrid columns="1" styleClass="panel">
		<rich:column>
			<h:selectOneMenu value="#{eosView.clientID}">
				<f:selectItems value="#{eosView.clients}" />
				<f:ajax event="valueChange" render="projects" execute="projects"  />
			</h:selectOneMenu>
		</rich:column>
		<rich:column>
			<h:selectOneMenu id="projects" value="#{eosView.projectID}">
				<f:selectItems value="#{eosView.projectsListbyClient}" />
			</h:selectOneMenu>
		</rich:column>
		<rich:column>
			<rich:progressBar value="#{eosView.progressbyProject}" enabled="true"
				minValue="0" maxValue="100">
				<h:outputLabel value="#{eosView.progressbyProject}%" />
			</rich:progressBar>
		</rich:column>

		<rich:column>
			<!-- <h:button value="View task history" style="width:100%;" /> -->
			<h:commandButton id="viewtask" value="View task history" action="#{eosView.viewTaskHistory()}">	
				<f:ajax event="click" render="messages" execute="viewtask"  />										
			</h:commandButton>
		</rich:column>
	</h:panelGrid>
	<h:panelGroup styleClass="head">
		<h:outputLabel value="To do list:" />
	</h:panelGroup>
	<h:panelGrid columns="1" styleClass="panel">
		<rich:column>
			<ui:repeat value="#{eosView.todos}" var="todos">
				<h:outputLabel value="#{todos.name}" />
				<br />
			</ui:repeat>
		</rich:column>
		<rich:column>
			<h:button value="To do history" style="width:100%;" />
		</rich:column>

	</h:panelGrid>
</h:body>
</html>
