<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:body>
<h:form id="todoform">
		<table id="tasklistTable" border="1">
			<thead>
				<tr>
					<th><h:selectBooleanCheckbox value="#{eosView.tdCheck}">
							<f:ajax listener="#{eosView.gettdSelected}" render="@form" execute="@form" />
						</h:selectBooleanCheckbox>
					</th>
					<th>To do name</th>
					<th>Description</th>
					<th>Due date</th>
					<!-- <th>Estimated time</th> -->
					<th>Work time</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<ui:repeat id="tree" value="#{eosView.todoslist}" var="todo">
					<tr>
						<td><h:selectBooleanCheckbox
								value="#{eosView.checkTdMap[todo.ID]}">
							</h:selectBooleanCheckbox></td>
						<td><h:outputText value="#{todo.name}" escape="false" /></td>
						<td><h:outputText value="#{todo.description}" /></td>
						<td><h:outputText value="#{todo.dueDate}" /></td>
						<!-- <td><h:outputText value="#{todo.estimateH}" /></td> -->
						<td><h:outputText value="#{todo.worktime}" /></td>
						<td><h:outputText value="#{todo.value}" /></td>
					</tr>
				</ui:repeat>
			</tbody>
		</table>
	</h:form>
	
</h:body>
</html>