<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:body>
	<ui:include src="/main/employee/menu.xhtml" />
	<h:panelGrid columns="2">

		<rich:column style="width:100%;">
			<ui:include src="/main/employee/reply.xhtml" />
			<ui:include src="/main/employee/message1.xhtml" />

			<ui:include src="/main/employee/reply.xhtml" />
			<ui:include src="/main/employee/message1.xhtml" />

			<ui:include src="/main/employee/create.xhtml" />
		</rich:column>

		<rich:column style="width:100px;">
			<ui:include src="/main/employee/status.xhtml" />
		</rich:column>

	</h:panelGrid>

</h:body>
</html>