<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:body>

	<table id="tasklistTable" border="1">
		<thead>
			<tr>
				<th><h:selectBooleanCheckbox value="#{eosView.logCheck}">
						<f:ajax listener="#{eosView.getLSelected}" render="testThisSheat"
							execute="testThisSheat" />
					</h:selectBooleanCheckbox></th>
				<th>Project</th>
				<th>Task/To do</th>
				<th>Notes</th>
				<th>Hours</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<ui:repeat id="tree" value="#{eosView.worklog}" var="node">
				<tr>
					<td><h:selectBooleanCheckbox
							value="#{eosView.checkLMap[node.workLogID]}">
						</h:selectBooleanCheckbox></td>
					<td><h:outputText value="#{node.project}" /></td>
					<td><h:outputText value="#{node.task}" /></td>
					<td><h:outputText value="#{node.note}" /></td>
					<td><h:outputText value="#{node.workTime}" /></td>
					<td><h:commandButton id="edit" value="Edit">
							<f:param name="logid" value="#{node.workLogID}"></f:param>
							<f:ajax execute="@this" event="action" render="@form" listener="#{eosView.editActivityLog()}" />
						</h:commandButton></td>
				</tr>
			</ui:repeat>
		
		</tbody>
	</table>
</h:body>
</html>