<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:body>
	<p>
		<h:outputLabel value="Written content" />
		<h:link value="edit" target="/dashboard/none.xhtml"
			style="float:right;" />
	</p>
	<p>
		<h:outputLabel value="Action plan" />
		<h:link value="edit" target="/dashboard/none.xhtml"
			style="float:right;" />
	</p>
	<p>
		<h:outputLabel value="Capital expenditures" />
		<h:link value="edit" target="/dashboard/none.xhtml"
			style="float:right;" />
	</p>
	<p>
		<h:outputLabel value="Forecast assumptions" />
		<h:link value="edit" target="/dashboard/none.xhtml"
			style="float:right;" />
	</p>
	<p>
		<h:outputLabel value="Forecast" />
		<h:link value="edit" target="/dashboard/none.xhtml"
			style="float:right;" />
	</p>
</h:body>
</html>