<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:body>
	<p>My new company name LLC</p>
	<div>
		<ui:include src="/main/progressbar-dashboard.xhtml" />
		<span style="color: #3ea81d; font-weight: bold;">#{incView.progress}%</span>
	</div>
	<p>
		<h:selectBooleanCheckbox value="true" />
		<h:outputLabel value="Articles of incorporation" />
	</p>
	<p>
		<h:selectBooleanCheckbox value="true" />
		<h:outputLabel value="Fed. Employer ID#" />
	</p>
	<p>
		<h:selectBooleanCheckbox value="false" />
		<h:outputLabel value="Statement of Information" />
	</p>
	<p>
		<h:selectBooleanCheckbox value="false" />
		<h:outputLabel value="Employer Identification Number" />
	</p>
	<p>
		<h:selectBooleanCheckbox value="false" />
		<h:outputLabel value="Application for Reseller ID" />
	</p>
	<p>
		<h:selectBooleanCheckbox value="false" />
		<h:outputLabel value="Sub 'S' Selection (not for LLC)" />
	</p>
	<p>
		<h:commandButton value="Continue incorporation"
			style="width:200px; text-align:center;" action="/incwiz/page01.xhtml" />
	</p>
</h:body>
</html>