<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

	<h:body>
		<p>
			<h:outputLabel value="Payroll:" />
			<h:commandButton value="Run"
				style="text-align:center; float:right;"
				action="/incwiz/none.xhtml" />
			<h:commandButton value="Approve"
				style="text-align:center; float:right;"
				action="/incwiz/none.xhtml" />			
		</p>
		<p>
			<h:outputLabel value="Payroll:" />
			<h:commandButton value="Edit"
				style="text-align:center; float:right;"
				action="/incwiz/none.xhtml" />			
		</p>
		<p>
			<h:outputLabel value="Payroll:" />
			<h:commandButton value="Go"
				style="text-align:center; float:right;"
				action="/incwiz/none.xhtml" />
		</p>
	</h:body>
</html>