<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

	<h:column>
		<h:commandButton value="Add content to website"
			style="width:200px; text-align:center;"
			action="/incwiz/none.xhtml" />
	</h:column>
	<h:column>
		<h:commandButton value="Change desktop layout"
			style="width:200px; text-align:center;"
			action="/incwiz/none.xhtml" />
	</h:column>
	<h:column>
		<h:commandButton value="Change mobile layout"
			style="width:200px; text-align:center;"
			action="/incwiz/none.xhtml" />
	</h:column>
	<h:column>
		<h:commandButton value="Manage eMoney rules"
			style="width:200px; text-align:center;"
			action="/incwiz/none.xhtml" />
	</h:column>
	<h:column>
		<h:commandButton value="Add products"
			style="width:200px; text-align:center;"
			action="/incwiz/none.xhtml" />
	</h:column>
	<h:column>
		<h:commandButton value="Add products"
			style="width:200px; text-align:center;"
			action="/incwiz/none.xhtml" />
	</h:column>
	<h:column>
		<h:commandButton value="Email manager"
			style="width:200px; text-align:center;"
			action="/incwiz/none.xhtml" />
	</h:column>
	<h:column>
		<h:commandButton value="SEO Manager"
			style="width:200px; text-align:center;"
			action="/incwiz/none.xhtml" />
	</h:column>
	<h:panelGrid columns="2">
		<h:column>
			<h:outputLabel value="Visitors this week" />
		</h:column>
		<h:column>
			<h:outputLabel value="Visitors this month" style="float:right;" />
		</h:column>
		<h:column>
			<h:outputLabel value="1350" />
		</h:column>
		<h:column>
			<h:outputLabel value="23K" style="float:right;" />
		</h:column>
		<h:column>
			<h:outputLabel value="YTD Revenue:" />
		</h:column>
		<h:column>
			<h:outputLabel value="27.5K" style="float:right;" />
		</h:column>
	</h:panelGrid>
						
</html>