<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:svg="http://www.w3.org/2000/svg"
	>

	<h:column>
		<h:outputLabel value="Revenue and others" />
		<!-- 								<h:spacer width="200px" height="200px"/> -->
	</h:column>
	<h:column>
		<svg:rect stroke-dasharray="" stroke="#000000" stroke-width="2"
			fill="#ffffff" explicit-height="100%" explicit-width="100%"
			min-height="10" min-width="10" dirty="true" width="415"
			measured-width="417" height="721" measured-height="723" x="1"
			y="1" />
	</h:column>
	<h:column>
		<h:outputLabel value="&#160;" />
	</h:column>
	<h:column>
		<h:outputLabel value="&#160;" />
	</h:column>
	<h:column>
		<h:outputLabel value="&#160;" />
	</h:column>
	<h:column>
		<h:outputLabel value="&#160;" />
	</h:column>
	<h:column>
		<h:outputLabel value="&#160;" />
	</h:column>
	<h:column>
		<h:outputLabel value="Cash flow" />
		<!-- 								<h:spacer width="200px" height="200px"/> -->
	</h:column>
	<h:column>
		<svg:rect stroke-dasharray="" stroke="#000000" stroke-width="2"
			fill="#ffffff" explicit-height="100%" explicit-width="100%"
			min-height="10" min-width="10" dirty="true" width="415"
			measured-width="417" height="721" measured-height="723" x="1"
			y="1" />
	</h:column>
	<h:column>
		<h:outputLabel value="&#160;" />
	</h:column>
	<h:column>
		<h:outputLabel value="&#160;" />
	</h:column>
	<h:column>
		<h:outputLabel value="&#160;" />
	</h:column>
	<h:column>
		<h:outputLabel value="&#160;" />
	</h:column>
	<h:column>
		<h:outputLabel value="&#160;" />
	</h:column>
	<h:column>
		<h:panelGrid columns="3" rowClasses="topline">
			<h:column breakRowBefore="true">
				<h:outputLabel value="A/R: 320k" />
			</h:column>
			<h:column>
				<h:outputLabel value="DSO: 280 days" />
			</h:column>
			<h:column>
				<h:outputLabel value="90+: 28k" />
			</h:column>
			<h:column breakRowBefore="true">
				<h:outputLabel value="A/R: 200k" />
			</h:column>
			<h:column>
				<h:outputLabel value="DSO: 45 days" />
			</h:column>
			<h:column>
				<h:outputLabel value="$ this wk: 100k" />
			</h:column>
			<h:column breakRowBefore="true">
				<h:outputLabel value="Cash: 150k | Owed: 200k | Credit: 400k" />
			</h:column>
			<h:column>
			</h:column>
			<h:column>
				<h:outputLabel value="Open" />
			</h:column>
		</h:panelGrid>
	</h:column>

</html>