<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<h:outputStylesheet name="common.css" library="css" />
	<title><h:outputText value="#{dashView.title}" /></title>
</h:head>

<h:body>
	<ui:composition template="/templates/dashboard.xhtml">
	
	<ui:define name="menu">
		<ui:include src="/main/anonymous/menu.xhtml" />
	</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="title">
				<h:outputText value="To be implemented!" />
			</h:panelGroup>

		</ui:define>
	</ui:composition>
</h:body>
</html>