<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">
	<h:body>
		<ul id="menu" class="cf">
			<li>
				<a href="#{request.contextPath}/incwiz/start.xhtml">Inc. Wizard</a>
			</li>
			<li>
				<a href="#{request.contextPath}/none.xhtml">Business Planner</a>
			</li>
			<li>
				<a href="#{request.contextPath}/main/anonymous/contact.xhtml">Contact</a>
			</li>
		</ul>
	</h:body>
</html>